<div (swiperight)="previous()"
    (swipeleft)="next()"
    class="container">
    <div class="content">

        <!-- Content -->
        <mat-tab-group [(selectedIndex)]="selectedIndex"
            animationDuration="600ms">
            <mat-tab>
                <ng-template matTabContent>
                    <app-icon-info></app-icon-info>

                    <h2>Welcome</h2>

                    <p>Use this project as a base for any new software project</p>
                </ng-template>
            </mat-tab>
            <mat-tab *ngIf="themeService.isPreferColorSchemeDark && !isDarkThemeOnLoad">
                <ng-template matTabContent>
                    <app-icon-brightness-2></app-icon-brightness-2>

                    <h2>Dark Mode</h2>

                    <p>We notice you have dark mode enabled on your device. Do you also want to get the dark theme for
                        this app?</p>

                    <button mat-stroked-button
                        type="button"
                        (click)="themeService.toggleTheme()">
                        {{themeService.isDarkTheme ? 'Deactivate' : 'Activate'}}
                    </button>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template matTabContent>
                    <app-icon-person></app-icon-person>

                    <h2>Account</h2>

                    <p>Want to stick around and join the community?</p>

                    <button mat-stroked-button
                        type="button"
                        routerLink="/sign-up">
                        Sign Up
                    </button>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button mat-stroked-button
                        type="button"
                        routerLink="/login">
                        Log In
                    </button>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template matTabContent>
                    <app-icon-search></app-icon-search>

                    <h2>Explore</h2>

                    <p>See what this app has to offer.</p>

                    <button mat-stroked-button
                        type="button"
                        routerLink="/">
                        Home
                    </button>
                </ng-template>
            </mat-tab>
        </mat-tab-group>

        <div class="bottom-bar">
            <!-- Bubbles -->
            <div class="animation-slide-up">
                <button mat-icon-button
                    *ngFor="let tab of tabs; trackBy: trackByFn"
                    (click)="selectedIndex = tab">
                    <span class="bubble"
                        [class.active]="selectedIndex === tab"></span>
                </button>
            </div>

            <!-- Left/Right controls -->
            <div class="left-right-bar-container">
                <button mat-icon-button
                    (click)="previous()"
                    type="button"
                    matTooltip="Previous"
                    aria-label="Previous"
                    [disabled]="selectedIndex === 0"
                    class="animation-slide-right">
                    <app-icon-keyboard-arrow-left></app-icon-keyboard-arrow-left>
                </button>
                <button mat-icon-button
                    (click)="next()"
                    type="button"
                    matTooltip="Next"
                    aria-label="Next"
                    [disabled]="tabs && selectedIndex === tabs.length - 1"
                    class="animation-slide-left">
                    <app-icon-keyboard-arrow-right></app-icon-keyboard-arrow-right>
                </button>
            </div>
        </div>
    </div>
</div>