.container {
	position: absolute;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	height: 100%;
	background-color: var(--primary-color);

	.content {
		width: 100%;
		height: 100%;
		max-width: 400px;
		max-height: 400px;
		display: flex;
		flex-direction: column;
		align-items: center;

		mat-tab-group {
			width: 100%;

			// Overrides
			::ng-deep mat-tab-header {
				display: none;
			}

			::ng-deep mat-tab-body {
				text-align: center;
			}

			::ng-deep .mat-tab-body-content {
				overflow-y: hidden;
			}
		}

		.bottom-bar {
			margin-top: auto;
			width: 100%;
			text-align: center;

			.bubble {
				display: inline-block;
				margin: 0 8px;
				width: 8px;
				height: 8px;
				cursor: pointer;
				border-radius: 50%;
				background-color: rgba(0, 0, 0, 0.5);

				&.active {
					background-color: #fff;
				}
			}

			.left-right-bar-container {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}