<mat-card>
    <mat-card-content>
        <mat-nav-list>
            <mat-list-item routerLink="/settings/language">
                <mat-icon mat-list-icon>language</mat-icon>
                <span mat-line>Language</span>
            </mat-list-item>
            <mat-list-item routerLink="/settings/notifications">
                <mat-icon mat-list-icon>notifications</mat-icon>
                <span mat-line>Notifications</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-card-content>
</mat-card>