<mat-card>
    <mat-card-title>Two Factor Authentication</mat-card-title>
    <mat-card-content>
        <div [hidden]="isProcessing">
            <div class="header">
                <span>One Time Pin App <a
                        href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2"
                        target="_blank"
                        rel="noopener"
                        class="download-link">(download Google Authenticator)</a>
                </span>
                <form [formGroup]="formGroup">
                    <mat-slide-toggle formControlName="twoFactorAuthenticationEnabled"
                        (change)="getAndUpdateTwoFactorAuthentication()"
                        color="primary"></mat-slide-toggle>

                    <div *ngIf="formErrorsService.globalErrors?.updateTwoFactorAuthentication"
                        class="mat-error">
                        Error with two factor authentication
                    </div>
                </form>
            </div>

            <div [hidden]="!shouldRevealCode"
                class="secret-data">
                <div class="qr-code">
                    <a [href]="sanitizedQRCodeKeyUri"
                        *ngIf="!bpService.isDesktop"
                        target="_blank"
                        rel="noopener">
                    </a>
                    <canvas #canvas></canvas>
                </div>


                <div (click)="copy()"
                    class="secret">{{secret}}</div>
            </div>
        </div>

        <mat-spinner *ngIf="isProcessing"></mat-spinner>
    </mat-card-content>
    <mat-card-actions *ngIf="formGroup.controls['twoFactorAuthenticationEnabled'].value && !shouldRevealCode">
        <button mat-stroked-button
            type="button"
            (click)="getAndUpdateTwoFactorAuthentication()">Reveal Code</button>
    </mat-card-actions>
</mat-card>