.header {
	display: flex;
	justify-content: space-between;
	font-size: 1.2em;

	span {
		line-height: 24px;

		.download-link {
			font-size: 0.8em;
			opacity: 0.55;
		}
	}
}

.secret-data {
	.qr-code {
		position: relative;
		display: inline-block;

		a {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	.secret {
		cursor: pointer;
		text-decoration: underline;
	}
}