<div *ngIf="!isProcessing && item">
    <app-item [item]="item"
        [isViewingComments]="true"></app-item>

    <app-create-comment [hidden]="!isAuthenticated"
        [itemUId]="item?.uId"
        (createSuccess)="insertComment($event)"></app-create-comment>

    <mat-card *ngIf="!isAuthenticated">
        <mat-card-content>
            <button mat-stroked-button
                type="button"
                (click)="goToSignUp()">Sign Up</button> or
            <button mat-stroked-button
                type="button"
                (click)="goToLogIn()">Log In</button>
            if you want to comment
        </mat-card-content>
    </mat-card>
</div>

<app-infinite-scroll (scrolled)="onScroll()"
    [isProcessing]="isProcessing || isProcessingComment">

    <mat-card *ngIf="comments && comments.length > 0">
        <mat-card-content>
            <app-comment *ngFor="let comment of comments; trackBy: trackByFn"
                [comment]="comment"></app-comment>
        </mat-card-content>
    </mat-card>

</app-infinite-scroll>

<ng-container *ngIf="!isProcessing && !item">
    <mat-card>
        Item does not exist
    </mat-card>
</ng-container>