<app-item *ngIf="!isProcessing && item"
    [item]="item"
    [isViewingComments]="true"></app-item>

<mat-card>
    <mat-card-title>{{item?.commentCount}} Comment{{item?.commentCount === 1 ? '' : 's'}}</mat-card-title>
    <mat-card-content>

        <!-- Login to comment -->
        <div *ngIf="!authService.isAuthenticated">
            <button mat-stroked-button
                type="button"
                (click)="goToSignUp()">Sign Up</button> or
            <button mat-stroked-button
                type="button"
                (click)="goToLogIn()">Log In</button>
            if you want to comment
        </div>

        <!-- Create comment -->
        <app-create-comment [hidden]="!authService.isAuthenticated"
            [itemUId]="item?.uId"
            (createSuccess)="insertComment($event)"></app-create-comment>

        <br>

        <!-- Comments -->
        <app-infinite-scroll (scrolled)="onScroll()"
            [isProcessing]="isProcessing || isProcessingComment">

            <ng-container *ngIf="comments && comments.length > 0">
                <app-comment *ngFor="let comment of comments; trackBy: trackByFn"
                    [comment]="comment"></app-comment>
            </ng-container>

        </app-infinite-scroll>
    </mat-card-content>
</mat-card>

<ng-container *ngIf="!isProcessing && !item">
    <mat-card>
        Item does not exist
    </mat-card>
</ng-container>