<div *ngIf="!isProcessing && item">
    <app-item [item]="item"
        [isViewingComments]="true"></app-item>

    <app-create-comment [hidden]="!isAuthenticated"
        [itemUId]="item?.uId"
        (onSuccess)="insertComment($event)"></app-create-comment>

    <mat-card *ngIf="!isAuthenticated">
        <mat-card-content>
            <button mat-raised-button
                type="button"
                (click)="goToLogin()">Login</button>
            if you want to comment
        </mat-card-content>
    </mat-card>
</div>

<mat-card *ngIf="!isProcessingComment && item && comments && comments.length > 0">
    <mat-card-content>
        <app-comment *ngFor="let comment of comments"
            [comment]="comment"
            [itemUserId]="comment?.user?.id"></app-comment>
    </mat-card-content>
</mat-card>

<ng-container *ngIf="!isProcessing && !item">
    <mat-card>
        Item does not exist
    </mat-card>
</ng-container>

<mat-spinner *ngIf="isProcessing || isProcessingComment"></mat-spinner>