<div [hidden]="isProcessing">
    <h2 mat-dialog-title>Delete account</h2>
    <mat-dialog-content>
        <p>
            We are sad to see you go. All information linked with
            <strong>{{email}}</strong> will be deleted and can't be recovered after proceeding. Please enter your email.
        </p>
        <mat-form-field>
            <mat-label>email</mat-label>
            <input matInput
                #emailInput
                type="text"
                required
                [attr.autofocus]="bpService.isWeb || null">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button
            color="warn"
            type="button"
            (click)="delete(emailInput.value)">Delete</button>
        <button mat-raised-button
            type="button"
            mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</div>

<mat-dialog-content *ngIf="isProcessing">
    <br>
    <mat-spinner></mat-spinner>
    <br>
</mat-dialog-content>