<h2 mat-dialog-title>Delete account</h2>
<mat-dialog-content>
    <p>
        We are sad to see you go. All information on user
        <strong>{{username}}</strong> will be deleted and can't be recovered after proceeding. Please enter your username.
    </p>
    <mat-form-field>
        <input matInput
            #usernameInput
            type="text"
            placeholder="username"
            required>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button
        color="warn"
        (click)="delete(usernameInput.value)">Delete</button>
    <button mat-raised-button
        mat-dialog-close>Cancel</button>
</mat-dialog-actions>