<div [hidden]="elementsWrapper.isRendering">
    <div class="mat-form-field card-number-container">
        <div class="stripe-element">
            <img *ngIf="elementsWrapper.cardNumber.cardBrand"
                src="assets/card-brand-icons/{{cardBrandType[elementsWrapper.cardNumber.cardBrand]}}.svg"
                class="card-brand-image" />

            <div #cardNumber
                class="full-width"></div>
        </div>
        <div class="mat-error">{{elementsWrapper.cardNumber.error}}</div>
    </div>
    <br>
    <div class="mat-form-field card-expiry-container">
        <div #cardExpiry
            class="stripe-element"></div>
        <div class="mat-error">{{elementsWrapper.cardExpiry.error}}</div>
    </div>
    <br>
    <div class="mat-form-field card-cvc-container">
        <div #cardCvc
            class="stripe-element"></div>
        <div class="mat-error">{{elementsWrapper.cardCvc.error}}</div>
    </div>
    <div>{{error}}</div>
</div>

<mat-form-field class="dummy-form-field">
    <input matInput>
</mat-form-field>