.stripe-element {
	border-bottom: 1px solid rgba(0, 0, 0, 0.42);
	padding: 1em 0.5em 1em 0.5em;

	&:hover,
	&:focus {
		border-color: rgba(0, 0, 0, 0.87);
	}
}

.card-number-container {
	min-width: 190px;

	.stripe-element {
		display: flex;

		.card-number {
			width: 100%;
			margin-left: 8px;
		}
	}
}

.card-expiry-container {
	min-width: 80px;
}

.card-cvc-container {
	min-width: 55px;
}

.dummy-form-field {
	display: none;
}