header {
	display: flex;
	align-items: center;

	&.has-install-banner-above {
		margin-top: 64px;
	}

	button {
		margin-top: -20px;
	}

	form {
		display: inline-block;
		width: 100%;

		mat-form-field {
			width: 100%;
		}
	}
}