<form *ngIf="!isProcessing"
    [formGroup]="formGroup">
    <mat-card>
        <mat-card-content>
            <div class="header">
                <span>Push notifications</span>
                <mat-slide-toggle formControlName="pushNotificationEnabled"
                    color="primary"></mat-slide-toggle>
            </div>
            <br>
            <mat-card-subtitle>Get push notifications to find out what's going on. You can turn them off
                anytime.
            </mat-card-subtitle>
            <ng-container *ngIf="formGroup.controls['pushNotificationEnabled'].value">
                <mat-checkbox formControlName="pushCommentOnItemToOwner">Comment create</mat-checkbox>
                <mat-card-subtitle>Receive push notifications when a comment was made on your item</mat-card-subtitle>

                <br>

                <mat-checkbox formControlName="pushHot">Hot</mat-checkbox>
                <mat-card-subtitle>Receive push notifications daily of the trending items</mat-card-subtitle>
            </ng-container>

            <br>

            <div class="header">
                <span>Email</span>
                <mat-slide-toggle formControlName="emailEnabled"
                    color="primary"></mat-slide-toggle>
            </div>
            <br>
            <mat-card-subtitle>Get emails to find out what's going on. You can turn them off
                anytime.
            </mat-card-subtitle>
            <ng-container *ngIf="formGroup.controls['emailEnabled'].value">
                <mat-checkbox formControlName="emailCommentOnItemToOwner">Comment create</mat-checkbox>
                <mat-card-subtitle>Receive push notifications when a comment was made on your item</mat-card-subtitle>

                <br>

                <mat-checkbox formControlName="emailHot">Hot</mat-checkbox>
                <mat-card-subtitle>Receive push notifications daily of the trending items</mat-card-subtitle>
            </ng-container>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button
                *ngIf="formGroup.controls['pushNotificationEnabled'].value || formGroup.controls['emailEnabled'].value"
                type="submit"
                (click)="onSubmit()">Update preferences</button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-spinner *ngIf="isProcessing"></mat-spinner>