<form *ngIf="!isProcessing && notificationPreferences"
    [formGroup]="formGroup">
    <mat-card>
        <mat-card-content>
            <div class="header">
                <span>Push notifications</span>
                <mat-slide-toggle formControlName="pushNotificationEnabled"
                    color="primary"></mat-slide-toggle>
            </div>
            <br>
            <mat-card-subtitle>Get push notifications to find out what's going on. You can turn them off
                anytime.
            </mat-card-subtitle>
            <ng-container *ngIf="formGroup.controls['pushNotificationEnabled'].value">
                <mat-checkbox formControlName="pushNewComment">New comment</mat-checkbox>
                <mat-card-subtitle>Receive push notifications when a comment was made on subscribed items
                </mat-card-subtitle>

                <br>

                <mat-checkbox formControlName="pushHot">Hot</mat-checkbox>
                <mat-card-subtitle>Receive push notifications daily of the trending items</mat-card-subtitle>
            </ng-container>

            <br>

            <div class="header">
                <span>Email</span>
                <mat-slide-toggle formControlName="emailEnabled"
                    color="primary"></mat-slide-toggle>
            </div>
            <br>
            <mat-card-subtitle>Get emails to find out what's going on. You can turn them off
                anytime.
            </mat-card-subtitle>
            <ng-container *ngIf="formGroup.controls['emailEnabled'].value">
                <mat-checkbox formControlName="emailNewComment">Comment create</mat-checkbox>
                <mat-card-subtitle>Receive push notifications when a comment was made on your item</mat-card-subtitle>

                <br>

                <mat-checkbox formControlName="emailHot">Hot</mat-checkbox>
                <mat-card-subtitle>Receive push notifications daily of the trending items</mat-card-subtitle>
            </ng-container>

            <br>

            <button mat-button
                (click)="showAdvancedOptions = !showAdvancedOptions"
                class="advanced-options">
                <span>Advanced</span>
                <app-icon-arrow-drop-down *ngIf="!showAdvancedOptions"></app-icon-arrow-drop-down>
                <app-icon-arrow-drop-up *ngIf="showAdvancedOptions"></app-icon-arrow-drop-up>
            </button>

            <div *ngIf="showAdvancedOptions"
                class="animation-fade-in animation-slide-down">
                <br>
                <mat-checkbox formControlName="autoSubscribeToItem">Auto subscribe to your items</mat-checkbox>
                <mat-card-subtitle>Automatically subscribe to your new items</mat-card-subtitle>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button
                *ngIf="formGroup.controls['pushNotificationEnabled'].value || formGroup.controls['emailEnabled'].value || (formGroup.controls['autoSubscribeToItem'].value !== notificationPreferences?.autoSubscribeToItem)"
                type="submit"
                (click)="onSubmit()">Update Preferences</button>
        </mat-card-actions>
    </mat-card>
</form>

<app-preloader *ngIf="isProcessing"></app-preloader>