<div class="background"></div>

<!-- Incoming Video -->
<video #incomingVideo
  class="incoming-video"
  [class.mirror]="mirrorVideo"
  (click)="showIcons = !showIcons">
</video>

<!-- Outgoing Video -->
<video #outgoingVideo
  muted
  class="outgoing-video"
  [class.mirror]="mirrorVideo"
  [class.fullscreen]="outgoingVideoPosition === OutgoingVideoPositionType.FULLSCREEN"
  [class.top-left]="outgoingVideoPosition === OutgoingVideoPositionType.TOP_LEFT"
  [class.top-right]="outgoingVideoPosition === OutgoingVideoPositionType.TOP_RIGHT"
  [class.bottom-left]="outgoingVideoPosition === OutgoingVideoPositionType.BOTTOM_LEFT"
  [class.bottom-right]="outgoingVideoPosition === OutgoingVideoPositionType.BOTTOM_RIGHT"
  [class.push-up]="showIcons">
</video>

<!-- Ring Audio -->
<audio #ringAudio
  src="assets/ring.mp3"
  type="audio/mpeg"
  loop></audio>

<!-- Top bar -->
<div class="top-bar"
  *ngIf="showIcons">

  <button mat-icon-button
    *ngIf="isFullscreen"
    (click)="closeFullscreen()"
    type="button"
    matTooltip="Close Fullscreen"
    aria-label="Close Fullscreen">
    <app-icon-arrow-back></app-icon-arrow-back>
  </button>

  <div class="help-text-container">
    <ng-container *ngIf="webRTCService.isProcessing && !answerReceived && isHost">
      Ringing
      &nbsp;&nbsp;<app-preloader></app-preloader>
    </ng-container>
    <ng-container *ngIf="webRTCService.isProcessing && answerReceived && isHost">
      Connecting
      &nbsp;&nbsp;<app-preloader></app-preloader>
    </ng-container>
    <ng-container *ngIf="!hasCallStarted && !offerData && !isHost">
      Waiting for host
      &nbsp;&nbsp;<app-preloader></app-preloader>
    </ng-container>
    <ng-container *ngIf="webRTCService.isProcessing && offerData && !isHost">
      Connecting to host
      &nbsp;&nbsp;<app-preloader></app-preloader>
    </ng-container>
  </div>

  <button mat-icon-button
    [matMenuTriggerFor]="appMenu"
    class="context-menu-button">
    <app-icon-more-vert></app-icon-more-vert>
  </button>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item
      (click)="share()">Invite</button>
    <button mat-menu-item
      *ngIf="!isFullscreen"
      (click)="openFullscreen()">Fullscreen</button>
    <button mat-menu-item
      (click)="mirrorVideo = !mirrorVideo">Mirror</button>
    <button mat-menu-item
      *ngIf="!isHost && !hasCallStarted"
      (click)="becomeHost()">Become Host</button>
    <ng-container *ngIf="hasCallStarted && !webRTCService.isProcessing">
      <button mat-menu-item>{{minutesDuration}} minutes</button>
      <button mat-menu-item
        (click)="record()">Record</button>
    </ng-container>
  </mat-menu>
</div>

<!-- Bottom bar -->
<div class="bottom-bar"
  *ngIf="showIcons">
  <div>
    <!-- Call -->
    <button mat-fab
      class="call-join-button"
      *ngIf="isHost && !hasCallStarted"
      type="button"
      (click)="startVideoCall()">
      <app-icon-call></app-icon-call>
    </button>

    <!-- Stop Call -->
    <button mat-fab
      *ngIf="hasCallStarted"
      color="warn"
      type="button"
      (click)="stopVideoCall()">
      <app-icon-call-end></app-icon-call-end>
    </button>

    <!-- Join Call -->
    <button mat-fab
      class="call-join-button"
      *ngIf="offerData && !isHost && !hasCallStarted"
      (click)="acceptVideoCall()"
      type="button"
      matTooltip="Join Call"
      aria-label="Join Call">
      <app-icon-ring-volume></app-icon-ring-volume>
    </button>
  </div>

  <div class="in-call-options-container">
    <div class="in-call-options-inner-container">
      <button mat-icon-button
        (click)="rotateCamera()"
        type="button"
        matTooltip="Rotate Camera"
        aria-label="Rotate Camera">
        <app-icon-switch-camera></app-icon-switch-camera>
      </button>

      <!-- Enable/Disable Camera -->
      <button mat-icon-button
        type="button"
        *ngIf="isCameraOn"
        (click)="setCameraState(false)"
        matTooltip="Disable Camera"
        aria-label="Disable Camera">
        <app-icon-videocam></app-icon-videocam>
      </button>

      <button mat-icon-button
        type="button"
        *ngIf="!isCameraOn"
        (click)="setCameraState(true)"
        matTooltip="Enable Camera"
        aria-label="Enable Camera">
        <app-icon-videocam-off class="disabled"></app-icon-videocam-off>
      </button>

      <!-- Mute/Unmute Mic -->
      <button mat-icon-button
        type="button"
        *ngIf="isMicOn"
        (click)="setMicState(false)"
        matTooltip="Mute Mic"
        aria-label="Mute Mic">
        <app-icon-mic></app-icon-mic>
      </button>

      <button mat-icon-button
        type="button"
        *ngIf="!isMicOn"
        (click)="setMicState(true)"
        matTooltip="Unmute Mic"
        aria-label="Unmute Mic">
        <app-icon-mic-off class="disabled"></app-icon-mic-off>
      </button>
    </div>
  </div>
</div>