<form [hidden]="isProcessing || isDone"
  [formGroup]="formGroup">
  <mat-card appTutorial="NEWSLETTER">
    <mat-card-subtitle *ngIf="!removingEmail">
      Sign up for our newsletter
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="removingEmail">
      We are sad to see you go 🙁
    </mat-card-subtitle>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>email</mat-label>
        <input matInput
          formControlName="email"
          type="email"
          autocomplete="email"
          [attr.autofocus]="bpService.isDesktop || null">
        <mat-error>
          <app-form-errors [control]="formGroup.controls['email']"></app-form-errors>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button
        color="primary"
        type="submit"
        *ngIf="!removingEmail"
        [disabled]="!formGroup.valid"
        (click)="add()">Subscribe</button>
      <button mat-stroked-button
        color="warn"
        type="submit"
        *ngIf="removingEmail"
        [disabled]="!formGroup.valid"
        (click)="remove()">Unsubscribe</button>
    </mat-card-actions>
  </mat-card>
</form>

<mat-card *ngIf="!isProcessing && isDone">
  <mat-card-content>
    <span *ngIf="!removingEmail">Thank you for subscribing</span>
    <span *ngIf="removingEmail">You are now unsubscribed</span>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button
      routerLink="/"
      type="button">Home</button>
  </mat-card-actions>
</mat-card>

<mat-spinner *ngIf="isProcessing"></mat-spinner>