<mat-card *ngIf="!isProcessing"
  [appTutorial]="tutorialTypeEnum.Newsletter">
  <mat-card-subtitle *ngIf="!removingEmail">
    Sign up for our newsletter
  </mat-card-subtitle>
  <mat-card-subtitle *ngIf="removingEmail">
    We are sad to see you go 🙁
  </mat-card-subtitle>
  <mat-card-content>
    <mat-form-field>
      <mat-label>email</mat-label>
      <input matInput
        #input
        type="text"
        autocomplete="email"
        required>
    </mat-form-field>

    <div *ngIf="message && !removingEmail"
      style="color: green;">We added you</div>
    <div *ngIf="message && removingEmail"
      style="color: red;">We removed you</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
      color="primary"
      *ngIf="!removingEmail"
      (click)="add(input.value)">Join</button>
    <button mat-raised-button
      color="warn"
      *ngIf="removingEmail"
      (click)="remove(input.value)">Remove</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="isProcessing">
  <mat-card-content>
    <mat-spinner class="preloader"></mat-spinner>
  </mat-card-content>
</mat-card>