<form [hidden]="isProcessing"
  [formGroup]="formGroup">
  <mat-card [appTutorial]="tutorialTypeEnum.Feedback">
    <mat-card-subtitle>
      Email us some feedback
    </mat-card-subtitle>
    <mat-card-content>
      <mat-form-field>
        <mat-label>type here...</mat-label>
        <textarea matInput
          formControlName="content"
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="8"
          [attr.autofocus]="bpService.isDesktop || null"></textarea>
        <mat-hint *ngIf="formGroup.get('content').value?.length < 10">Minimum of
          {{formGroup.get('content').value?.length}}/10
          characters
        </mat-hint>
        <mat-error>
          <app-form-errors [control]="formGroup.get('content')"></app-form-errors>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!formGroup.valid"
        (click)="onSubmit()">Send</button>
    </mat-card-actions>
  </mat-card>
</form>

<mat-spinner *ngIf="isProcessing"></mat-spinner>