<form [hidden]="isProcessing || isDone"
  [formGroup]="formGroup">
  <mat-card appTutorial="FEEDBACK">
    <mat-card-subtitle>
      Email us some feedback
    </mat-card-subtitle>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>type here...</mat-label>
        <textarea matInput
          formControlName="content"
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="8"
          [attr.autofocus]="bpService.isDesktop || null"></textarea>
        <mat-hint *ngIf="formGroup.controls['content'].value?.length < 10">Minimum of
          {{formGroup.controls['content'].value?.length > 0 ? formGroup.controls['content'].value?.length + '/' : ''}}10
          characters
        </mat-hint>
        <mat-error>
          <app-form-errors [control]="formGroup.controls['content']"></app-form-errors>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button
        color="primary"
        type="submit"
        [disabled]="!formGroup.valid"
        (click)="onSubmit()">Send</button>
    </mat-card-actions>
  </mat-card>
</form>

<mat-card *ngIf="!isProcessing && isDone">
  <mat-card-content>
    Email was sent. Thank you for your feedback
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button
      routerLink="/"
      type="button">Home</button>
  </mat-card-actions>
</mat-card>

<mat-spinner *ngIf="isProcessing"></mat-spinner>