<mat-card *ngIf="!isProcessing"
  [appTutorial]="tutorialTypeEnum.Feedback">
  <mat-card-subtitle>
    Email us some feedback
  </mat-card-subtitle>
  <mat-card-content>
    <mat-form-field>
      <mat-label>type here...</mat-label>
      <textarea matInput
        #inputArea
        rows="10"></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
      (click)="send(inputArea.value)">Send</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="isProcessing">
  <mat-spinner></mat-spinner>
</mat-card>