<mat-card [hidden]="isProcessing">
    <mat-card-content>
        <p>
            We are sad to see you go. All information linked with
            <strong>{{email}}</strong> will be deleted and can't be recovered after proceeding. Please enter your
            email.
        </p>
        <mat-form-field>
            <mat-label>email</mat-label>
            <input matInput
                #emailInput
                type="email"
                required
                [attr.autofocus]="bpService.isDesktop || null">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button
            color="warn"
            type="button"
            [disabled]="email !== emailInput.value"
            (click)="delete(emailInput.value)">Delete</button>
    </mat-card-actions>
</mat-card>

<mat-spinner *ngIf="isProcessing"></mat-spinner>