<mat-card [hidden]="isProcessing">
    <mat-card-content>

        <app-stripe-elements #stripeElements
            (isDoneRendering)="isProcessing = !$event"></app-stripe-elements>

    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button
            type="button"
            color="primary"
            [disabled]="!stripeElements.isValid"
            (click)="onSubmit()">Create</button>
    </mat-card-actions>
</mat-card>

<app-preloader *ngIf="isProcessing"></app-preloader>