<mat-card>
    <mat-card-subtitle>Everything on this demo site is live/working condition. Creating a profile, sending emails, donating
        money, uploading profile pictures and more.</mat-card-subtitle>
</mat-card>

<app-github-readme></app-github-readme>

<ng-container *ngIf="!isProcessing">
    <app-item *ngFor="let item of items"
        [item]="item"></app-item>
</ng-container>

<mat-card *ngIf="!isProcessing && (!items || items?.length === 0)">
    No items exist
</mat-card>

<mat-spinner *ngIf="isProcessing"></mat-spinner>