header {
	position: fixed;
	top: 0;
	width: 100%;
	transition: top 0.3s;
	z-index: 2;
	background-color: var(--background-color);
	color: var(--foreground-color);

	.toolbar {
		background-color: var(--primary-color);
		color: #fff;
		display: flex;
		box-sizing: border-box;
		padding: 0 16px;
		width: 100%;
		flex-direction: row;
		align-items: center;
		white-space: nowrap;

		&.bottom {
			color: var(--foreground-color);
		}
	}

	a {
		font-weight: bold;
	}
}

.header-push {
	margin-bottom: 10px;
}

.navigation {
	width: 100%;
	display: flex;
	justify-content: space-around;
	z-index: 2;
	align-items: center;
	max-width: 500px;

	&.bottom {
		background-color: var(--background-color);
		position: fixed;
		bottom: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.12);
		max-width: 100%;
	}

	a {
		line-height: 1em;
		min-width: 56px;
		padding: 4px 0;
		font-weight: normal;
		height: 56px;
		align-items: center;
		display: flex;
		justify-content: center;
		font-size: 0.8em;
		animation: slidedown 0.5s ease-in-out, fadein 0.75s ease-in-out;
	}
}