<!-- Main nav -->
<header #navbar
  [style.height]="topToolbarHeightInPx">

  <mat-toolbar *ngIf="navigationType.Primary == activeNavigation"
    [style.height]="topToolbarHeightInPx"
    color="primary">
    <a mat-button
      routerLink="/">
      <img class="logo"
        src="assets/logo-white.svg"
        alt="logo"
        width="55px">
    </a>

    <ng-container *ngIf="bpService.isDesktop">
      <div class="navigation">
        <ng-container *ngTemplateOutlet="navLinks"></ng-container>
      </div>
    </ng-container>
  </mat-toolbar>

  <!-- Back nav -->
  <mat-toolbar *ngIf="navigationType.Back == activeNavigation"
    [style.height]="topToolbarHeightInPx"
    color="primary">
    <div (click)="back()">
      <button mat-icon-button
        type="button"
        aria-label="Back">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <a mat-button>
        {{headerBackTitle}}
      </a>
    </div>
    <span class="flex-spacer"></span>
    <ng-container *ngTemplateOutlet="navigationService.navigationPlaceholderTemplate"></ng-container>
  </mat-toolbar>
</header>
<div [style.height]="topToolbarHeightInPx"></div>

<!-- Bottom Nav -->
<mat-card *ngIf="!bpService.isDesktop"
  class="navigation bottom">
  <ng-container *ngTemplateOutlet="navLinks"></ng-container>
</mat-card>

<!-- Nav links -->
<ng-template #navLinks>
  <a mat-button
    routerLink="/"
    [ngClass]="navItems['home'].active ? bpService.isDesktop ? 'mat-accent' : 'mat-primary' : ''">
    <mat-icon>home</mat-icon>
    <div>Home</div>
  </a>
  <a mat-button
    routerLink="/search"
    [ngClass]="navItems['search'].active ? bpService.isDesktop ? 'mat-accent' : 'mat-primary' : ''">
    <mat-icon>search</mat-icon>
    <div>Seach</div>
  </a>
  <a mat-button
    routerLink="/create-item"
    [ngClass]="navItems['createItem'].active ? bpService.isDesktop ? 'mat-accent' : 'mat-primary' : ''">
    <mat-icon>edit</mat-icon>
    <div>Create</div>
  </a>
  <a mat-button
    routerLink="/activity"
    [ngClass]="navItems['activity'].active ? bpService.isDesktop ? 'mat-accent' : 'mat-primary' : ''">
    <mat-icon matBadge="{{notificationService.messages?.length}}"
      matBadgeColor="warn"
      [matBadgeHidden]="notificationService.messages?.length <= 0">
      notifications</mat-icon>
    <div>Activity</div>
  </a>
  <a mat-button
    routerLink="/account"
    [ngClass]="navItems['account'].active ? bpService.isDesktop ? 'mat-accent' : 'mat-primary' : ''">
    <mat-icon>person</mat-icon>
    <div>Account</div>
  </a>
</ng-template>