<header #navbar
  [style.height.px]="toolbarHeight">

  <!-- Main nav -->
  <mat-toolbar *ngIf="navigationType.Primary === activeNavigation"
    [style.height.px]="toolbarHeight"
    color="primary">
    <a mat-button
      routerLink="/">
      <img class="logo"
        src="assets/logo-white.svg"
        alt="logo"
        width="55px">
    </a>

    <ng-container *ngIf="bpService.isDesktop">
      <div class="navigation">
        <ng-container *ngTemplateOutlet="navLinks"></ng-container>
      </div>
    </ng-container>
  </mat-toolbar>

  <!-- Back nav -->
  <mat-toolbar *ngIf="navigationType.Back === activeNavigation"
    [style.height.px]="toolbarHeight"
    color="primary">
    <div (click)="back()">
      <button mat-icon-button
        type="button"
        matTooltip="Back"
        aria-label="Back">
        <app-icon-arrow-back></app-icon-arrow-back>
      </button>

      <a mat-button>
        {{headerBackTitle}}
      </a>
    </div>
    <span class="flex-spacer"></span>
    <ng-container *ngTemplateOutlet="navigationService.navigationPlaceholderTemplate"></ng-container>
  </mat-toolbar>
</header>
<div [style.height.px]="toolbarHeight"></div>

<!-- Bottom Nav -->
<div *ngIf="!bpService.isDesktop"
  class="navigation bottom">
  <ng-container *ngTemplateOutlet="navLinks"></ng-container>
</div>

<!-- Nav links -->
<ng-template #navLinks>
  <a mat-button
    routerLink="/"
    [ngClass]="navItems['home'].active ? bpService.isDesktop ? 'mat-accent' : 'mat-primary' : ''">
    <app-icon-home></app-icon-home>
    <div>Home</div>
  </a>
  <a mat-button
    routerLink="/search"
    [ngClass]="navItems['search'].active ? bpService.isDesktop ? 'mat-accent' : 'mat-primary' : ''">
    <app-icon-search></app-icon-search>
    <div>Seach</div>
  </a>
  <a mat-button
    routerLink="/item/create"
    [ngClass]="navItems['createItem'].active ? bpService.isDesktop ? 'mat-accent' : 'mat-primary' : ''">
    <app-icon-edit></app-icon-edit>
    <div>Create</div>
  </a>
  <a mat-button
    routerLink="/activity"
    [ngClass]="navItems['activity'].active ? bpService.isDesktop ? 'mat-accent' : 'mat-primary' : ''">
    <app-icon-notifications matBadge="{{notificationService.messages?.length}}"
      matBadgeColor="warn"
      [matBadgeHidden]="notificationService.messages?.length <= 0"></app-icon-notifications>
    <div>Activity</div>
  </a>
  <a mat-button
    routerLink="/account"
    [ngClass]="navItems['account'].active ? bpService.isDesktop ? 'mat-accent' : 'mat-primary' : ''">
    <app-icon-person></app-icon-person>
    <div>Account</div>
  </a>
</ng-template>