<form [hidden]="isProcessing"
  [formGroup]="formGroup">
  <mat-card *ngIf="!emailSent"
    [appTutorial]="tutorialTypeEnum.ForgotPassword">
    <mat-card-content>
      <mat-form-field>
        <mat-label>email</mat-label>
        <input matInput
          formControlName="email"
          type="text"
          autocomplete="email"
          required
          [attr.autofocus]="bpService.isWeb || null">
        <mat-error>
          <app-form-errors [control]="formGroup.get('email')"></app-form-errors>
        </mat-error>
      </mat-form-field>
      <div *ngIf="formErrorsService.formErrors?.email?.notFound"
        class="mat-error">
        Email was not found
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!formGroup.valid"
        (click)="onSubmit()">Send</button>
    </mat-card-actions>
  </mat-card>
</form>

<mat-card [hidden]="isProcessing"
  *ngIf="emailSent">
  <mat-card-content>
    Email was sent to {{formGroup.get('email').value}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
      routerLink="/"
      type="button">Home</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="isProcessing">
  <mat-spinner></mat-spinner>
</mat-card>