<form [formGroup]="form">
  <mat-card *ngIf="!isProcessing && !emailSent"
    [appTutorial]="tutorialTypeEnum.ForgotPassword">
    <mat-card-content>
      <mat-form-field>
        <input matInput
          formControlName="email"
          type="text"
          placeholder="email"
          required>
      </mat-form-field>
      <div *ngIf="serverErrors?.email"
        class="validation-message">{{ serverErrors.email.message }}</div>
      <app-show-errors [control]="form.controls['email']"></app-show-errors>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
        (click)="onSubmit()">Send</button>
    </mat-card-actions>
  </mat-card>
</form>

<mat-card *ngIf="!isProcessing && emailSent">
  <mat-card-content>
    Email was sent to {{form.get('email').value}}
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button
      routerLink="/">Home</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="isProcessing">
  <mat-card-content>
    <mat-spinner class="preloader"></mat-spinner>
  </mat-card-content>
</mat-card>