<form [hidden]="isProcessing || isDone"
  [formGroup]="formGroup">
  <mat-card [appTutorial]="tutorialTypeEnum.FORGOT_PASSWORD">
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>email</mat-label>
        <input matInput
          formControlName="email"
          type="email"
          autocomplete="email"
          [attr.autofocus]="bpService.isDesktop || null">
        <mat-error>
          <app-form-errors [control]="formGroup.controls['email']"></app-form-errors>
        </mat-error>
      </mat-form-field>
      <div *ngIf="formErrorsService.globalErrors?.forgotPasswordEmailNotFound"
        class="mat-error">
        Email was not found
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button
        color="primary"
        type="submit"
        [disabled]="!formGroup.valid"
        (click)="onSubmit()">Send</button>
    </mat-card-actions>
  </mat-card>
</form>

<mat-card *ngIf="!isProcessing && isDone">
  <mat-card-content>
    Email was sent to {{formGroup.controls['email'].value}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button
      routerLink="/"
      type="button">Home</button>
  </mat-card-actions>
</mat-card>

<mat-spinner *ngIf="isProcessing"></mat-spinner>