iframe {
    max-width: 420px;
}

.thumbnail-container {
    height: 40px;
    width: 40px;

    .thumbnail {
        max-height: 40px;
        max-width: 40px;
    }
}

.large {
    max-width: 120px;
    max-height: 120px;
    cursor: pointer;
}