<mat-dialog-content>
    <button mat-button
        [matDialogClose]="true"
        style="float: right;">
      <mat-icon>close</mat-icon>
    </button>

    <h2 matDialogTitle
        style="float: left;">Report</h2>

    <div style="clear: both;"></div>

    <p>
        This post is either spam, abusive, harmful or you think it doesn't belong on here.
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button
        color="warn"
        (click)="report()">Send report</button>
</mat-dialog-actions>