<mat-card [hidden]="isProcessing">
  <mat-card-title>Payment Methods</mat-card-title>
  <mat-card-content>

    <mat-radio-group [(ngModel)]="newDefaultCardId">
      <table>
        <tbody>
          <tr *ngFor="let card of paymentCards; trackBy: trackByFn">
            <td>
              <ng-container *ngIf="!isChangingDefault && card.isDefault">
                <mat-chip-list>
                  <mat-chip>default</mat-chip>
                </mat-chip-list>
              </ng-container>
              <ng-container *ngIf="isChangingDefault">
                <mat-radio-button [value]="card.id"
                  [checked]="card.isDefault"></mat-radio-button>
              </ng-container>
            </td>
            <td>
              <app-card-brand *ngIf="card.brand"
                [cardBrandString]="card.brand"></app-card-brand>

              <app-icon-credit-card *ngIf="!card.brand"></app-icon-credit-card>
            </td>
            <td>**** **** **** {{card.last4}}</td>
            <td>
              <button mat-button
                *ngIf="card.hasExpired"
                color="warn"
                type="button">
                EXPIRED
              </button>
            </td>
            <td *ngIf="!isChangingDefault">
              <button mat-icon-button
                *ngIf="!card.isDefault || paymentCards.length === 1"
                color="warn"
                (click)="deleteCard(card.id)"
                type="button"
                matTooltip="Delete"
                aria-label="Delete">
                <app-icon-delete></app-icon-delete>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-radio-group>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-stroked-button
      *ngIf="!isChangingDefault"
      routerLink="/profile/create-card"
      type="button">Add Payment Method</button>
    <button mat-stroked-button
      *ngIf="!isChangingDefault && paymentCards?.length > 1"
      (click)="isChangingDefault = true"
      type="button">Change Default Method</button>
    <button mat-stroked-button
      *ngIf="isChangingDefault && paymentCards?.length > 0"
      (click)="changeDefaultCard()"
      type="button">Save Default Method</button>
    <button mat-stroked-button
      *ngIf="isChangingDefault && paymentCards?.length > 0"
      (click)="this.isChangingDefault = false; newDefaultCardId = null"
      type="button">Cancel</button>
    <span class="flex-spacer"></span>
    <button mat-stroked-button
      routerLink="/profile/payment-history"
      type="button">Payment History</button>
  </mat-card-actions>
</mat-card>

<app-preloader *ngIf="isProcessing"></app-preloader>