<mat-card [hidden]="isProcessing">
  <mat-card-title>Payment Methods</mat-card-title>
  <mat-card-content>

    <mat-radio-group [(ngModel)]="newDefaultCardUId">
      <table>
        <tbody>
          <tr *ngFor="let card of userCards">
            <td>
              <ng-container *ngIf="!isChangingDefault && card.isDefault">
                <mat-chip-list>
                  <mat-chip>default</mat-chip>
                </mat-chip-list>
              </ng-container>
              <ng-container *ngIf="isChangingDefault">
                <mat-radio-button [value]="card.uId"
                  [checked]="card.isDefault"></mat-radio-button>
              </ng-container>
            </td>
            <td>
              <app-card-brand *ngIf="card.brand"
                [cardBrandString]="card.brand"></app-card-brand>

              <mat-icon *ngIf="!card.brand">credit_card</mat-icon>
            </td>
            <td>**** {{card.last4}}</td>
            <td>
              <button mat-button
                *ngIf="hasCardExpired(card)"
                color="warn">
                EXPIRED
              </button>
            </td>
            <td *ngIf="!isChangingDefault">
              <button mat-icon-button
                *ngIf="!card.isDefault || userCards.length === 1"
                color="warn"
                (click)="deleteCard(card.uId)"
                type="button"
                matTooltip="Delete"
                aria-label="Delete">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-radio-group>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button
      *ngIf="!isChangingDefault"
      routerLink="/profile/create-card"
      type="button">Add payment method</button>
    <button mat-raised-button
      *ngIf="!isChangingDefault && userCards?.length > 1"
      (click)="isChangingDefault = true"
      type="button">Change default method</button>
    <button mat-raised-button
      *ngIf="isChangingDefault && userCards?.length > 0"
      (click)="changeDefaultCard()"
      type="button">Save default method</button>
    <button mat-raised-button
      *ngIf="isChangingDefault && userCards?.length > 0"
      (click)="this.isChangingDefault = false; newDefaultCardUId = null"
      type="button">Cancel</button>
    <span class="flex-spacer"></span>
    <button mat-raised-button
      routerLink="/profile/payment-history"
      type="button">Payment history</button>
  </mat-card-actions>
</mat-card>

<mat-spinner *ngIf="isProcessing"></mat-spinner>