@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes slidedown {
	from {
		transform: translateY(-25%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes slideup {
	from {
		transform: translateY(50%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes slideleft {
	from {
		transform: translateX(50%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes slideright {
	from {
		transform: translateX(-50%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes scaleup {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes scaleup-circle {
	from {
		transform-origin: top;
		transform: scale(0) translateY(-50%) rotate(0deg);
	}

	to {
		transform-origin: center;
		transform: scale(1) translateY(-50%) rotate(360deg);
	}
}

.animation-fade-in {
	animation: fadein 0.5s ease-in;
}

.animation-slide-down {
	animation: slidedown 0.5s ease-in-out;
}

.animation-slide-up {
	animation: slideup 0.5s ease-in-out;
}

.animation-slide-left {
	animation: slideleft 0.5s ease-in;
}

.animation-slide-right {
	animation: slideright 0.5s ease-in;
}

.animation-scale-up {
	animation: scaleup 0.5s ease-in-out;
}

.animation-spin {
	animation: spin 0.5s ease-in-out;
}

.animation-scale-up-circle {
	animation: scaleup-circle 0.5s ease-in-out;
}