<mat-card *ngIf="!isProcessing && item"
    [appRightClickContextMenu]="contextMenu">
    <mat-card-content>

        <!-- Header -->
        <div class="header">
            <button routerLink="/user/{{item?.user?.id}}"
                mat-button
                type="button">
                <div>
                    <!-- Avatar -->
                    <img *ngIf="item.user?.avatarUrl && item.user?.avatarUrl !== ''; else defaultAvatar"
                        mat-card-avatar
                        [src]="item?.user?.avatarUrl"
                        loading="lazy"
                        width="40"
                        height="40" />

                    <!-- Default Avatar -->
                    <ng-template #defaultAvatar>
                        <div mat-card-avatar
                            class="default-avatar">
                            <app-icon-account-circle></app-icon-account-circle>
                        </div>
                    </ng-template>

                    <!-- Name -->
                    <div class="header-text-container">
                        <mat-card-title>{{item?.user?.username}}</mat-card-title>
                        <mat-card-subtitle>{{item.dateCreated | date:'HH:mm MMM d, y'}}</mat-card-subtitle>
                    </div>
                </div>
            </button>

            <!-- Context Menu -->
            <app-context-menu #contextMenu>
                <mat-nav-list>
                    <mat-list-item *ngIf="authService.loggedInUserId"
                        (click)="subscribeToItem($event)">
                        <app-icon-notifications mat-list-icon
                            *ngIf="!item?.subscribed"
                            class="animation-spin"></app-icon-notifications>
                        <app-icon-notifications-active mat-list-icon
                            *ngIf="item?.subscribed"
                            color="accent"
                            class="animation-spin"></app-icon-notifications-active>
                        <span mat-line>Subscribe
                            {{item?.subscriptionCount > 0 ? '(' + item?.subscriptionCount + ')' : '' }}</span>
                    </mat-list-item>
                    <mat-list-item *ngIf="authService.loggedInUserId"
                        (click)="favouriteItem($event)">
                        <app-icon-star mat-list-icon
                            *ngIf="!item?.favourite"
                            class="animation-spin"></app-icon-star>
                        <app-icon-star mat-list-icon
                            *ngIf="item?.favourite"
                            color="accent"
                            class="animation-spin"></app-icon-star>
                        <span mat-line>Save</span>
                    </mat-list-item>
                    <mat-list-item (click)="copyLink()">
                        <app-icon-link mat-list-icon></app-icon-link>
                        <span mat-line>Copy link to Item</span>
                    </mat-list-item>
                    <mat-list-item *ngIf="item?.user?.id === authService.loggedInUserId"
                        (click)="goToComments()">
                        <app-icon-edit mat-list-icon></app-icon-edit>
                        <span mat-line>Edit</span>
                    </mat-list-item>
                    <mat-list-item (click)="deleteItem()"
                        *ngIf="item?.user?.id === authService.loggedInUserId">
                        <app-icon-delete mat-list-icon
                            color="warn"></app-icon-delete>
                        <span mat-line>Delete</span>
                    </mat-list-item>
                    <mat-list-item (click)="reportItem()">
                        <app-icon-report mat-list-icon></app-icon-report>
                        <span mat-line>Report</span>
                    </mat-list-item>
                </mat-nav-list>
            </app-context-menu>
        </div>

        <div routerLink="/item/comments/{{item.uId}}"
            [class.cursor-pointer]="!isViewingComments"
            class="content">
            <div *ngIf="item?.media && item?.media?.length > 0"
                class="media">
                <div *ngIf="item?.media?.length > 1">
                    <!-- TODO: put some padding on to make the clickable area bigger. Better UX -->
                    <button mat-icon-button
                        (click)="mediaPrevious($event)"
                        type="button"
                        matTooltip="Previous"
                        aria-label="Previous">
                        <app-icon-keyboard-arrow-left></app-icon-keyboard-arrow-left>
                    </button>
                    <button mat-icon-button
                        (click)="mediaNext($event)"
                        type="button"
                        matTooltip="Next"
                        aria-label="Next">
                        <app-icon-keyboard-arrow-right></app-icon-keyboard-arrow-right>
                    </button>
                </div>

                <img mat-card-image
                    [src]="item?.media[activeMediaIndex]"
                    alt="item image"
                    loading="lazy"
                    height="100%">
            </div>

            <h3>{{item.title}}</h3>

            <p #description>{{item.description}}</p>
        </div>

        <div class="more-button-container">
            <button mat-button
                *ngIf="showMoreButton"
                (click)="showMoreDescription()"
                type="button">More</button>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button
            routerLink="/item/comments/{{item.uId}}"
            *ngIf="!isViewingComments"
            type="button">
            <app-icon-mode-comment></app-icon-mode-comment>
            Comment {{item?.commentCount > 0 ? '(' + item?.commentCount + ')' : '' }}
        </button>
        <button mat-button
            (click)="openShareDialog()"
            type="button">
            <app-icon-share></app-icon-share>
            Share
        </button>
    </mat-card-actions>
</mat-card>

<app-preloader *ngIf="isProcessing && !item"></app-preloader>