.header {
	display: flex;
	margin-top: -24px;
	margin-left: -24px;
	margin-right: -24px;

	@media (max-width: 599px) {
		margin-left: -16px;
		margin-right: -16px;
	}

	button:first-child {
		padding-top: 24px;
		padding-left: 24px;
		padding-right: 24px;
		flex-grow: 1;
		// Remove default button styles
		line-height: inherit;
		border-radius: 0;
		text-align: left;

		::ng-deep .mat-button-wrapper > div {
			display: flex;

			.mat-card-avatar {
				background-size: cover;
			}

			.default-avatar mat-icon {
				font-size: 40px;
				height: 40px;
				width: 40px;
				opacity: 0.2;
			}

			.header-text-container {
				margin: 0 8px;

				mat-card-title {
					font-size: 14px;
				}

				mat-card-subtitle {
					margin-top: -8px;
					margin-bottom: 0;
				}
			}
		}
	}
}

.media {
	position: relative;
	user-select: none;

	& > div {
		position: absolute;
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;
		height: 100%;

		button {
			background-color: rgba(255, 255, 255, 0.5);
		}
	}

	img {
		margin-top: 0;
		outline: none;
	}
}

.body {
	text-decoration: none;
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: transparent;

	p {
		// 1.4em per line
		max-height: 8.4em;
		overflow: hidden;
	}
}

.more-button-container {
	text-align: center;
}

mat-card-actions {
	display: flex;
	justify-content: space-around;
}