<mat-card *ngIf="!isProcessing && item">
    <mat-card-content>
        <div class="header">
            <button routerLink="/user/{{item?.user?.id}}"
                mat-button
                type="button">
                <div>
                    <div *ngIf="item.user?.avatarUrl && item.user?.avatarUrl !== ''; else defaultAvatar"
                        mat-card-avatar
                        [style.background-image]="'url(' + item?.user?.avatarUrl + ')'"></div>
                    <ng-template #defaultAvatar>
                        <div mat-card-avatar
                            class="default-avatar">
                            <mat-icon>account_circle</mat-icon>
                        </div>
                    </ng-template>

                    <div class="header-text-container">
                        <mat-card-title>{{item?.user?.username}}</mat-card-title>
                        <mat-card-subtitle>{{item.dateCreated | date:'HH:mm MMM d, y'}}</mat-card-subtitle>
                    </div>
                </div>
            </button>

            <app-context-menu #contextMenu>
                <mat-nav-list>
                    <mat-list-item (click)="copyLink()">
                        <mat-icon mat-list-icon>link</mat-icon>
                        <span mat-line>Copy link to Item</span>
                    </mat-list-item>
                    <mat-list-item *ngIf="loggedInUserId"
                        (click)="subscribeToItem($event)">
                        <mat-icon mat-list-icon
                            *ngIf="!item?.subscribed">notifications</mat-icon>
                        <mat-icon mat-list-icon
                            *ngIf="item?.subscribed"
                            color="accent">notifications_active</mat-icon>
                        <span mat-line>Subscribe</span>
                    </mat-list-item>
                    <mat-list-item *ngIf="loggedInUserId"
                        (click)="favouriteItem($event)">
                        <mat-icon mat-list-icon
                            [color]="item?.favourite ? 'accent' : ''">star</mat-icon>
                        <span mat-line>Save</span>
                    </mat-list-item>
                    <mat-list-item *ngIf="item?.user?.id === loggedInUserId"
                        (click)="goToComments()">
                        <mat-icon mat-list-icon>edit</mat-icon>
                        <span mat-line>Edit</span>
                    </mat-list-item>
                    <mat-list-item (click)="deleteItem()"
                        *ngIf="item?.user?.id === loggedInUserId">
                        <mat-icon mat-list-icon
                            color="warn">delete</mat-icon>
                        <span mat-line>Delete</span>
                    </mat-list-item>
                    <mat-list-item (click)="reportItem()">
                        <mat-icon mat-list-icon>report</mat-icon>
                        <span mat-line>Report</span>
                    </mat-list-item>
                </mat-nav-list>
            </app-context-menu>
        </div>

        <div *ngIf="item?.media && item?.media?.length > 0"
            class="media">
            <div *ngIf="item?.media?.length > 1">
                <!-- TODO: put some padding on to make the clickable area bigger. Better UX -->
                <button mat-icon-button
                    (click)="mediaPrevious()"
                    type="button"
                    matTooltip="Previous"
                    aria-label="Previous">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <button mat-icon-button
                    (click)="mediaNext()"
                    type="button"
                    matTooltip="Next"
                    aria-label="Next">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>

            <img mat-card-image
                [src]="item?.media[activeMediaIndex]"
                alt="item image">
        </div>

        <a routerLink="/item/comments/{{item.uId}}"
            class="body">
            <h3>{{item.title}}</h3>

            <p #description>{{item.description}}</p>
        </a>

        <div class="more-button-container">
            <button mat-button
                *ngIf="showMoreButton"
                (click)="showMoreDescription()"
                type="button">More</button>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button
            routerLink="/item/comments/{{item.uId}}"
            *ngIf="!isViewingComments"
            type="button">
            <mat-icon>mode_comment</mat-icon>
            Comment
        </button>
        <button mat-button
            (click)="openShareDialog()"
            type="button">
            <mat-icon>share</mat-icon>
            Share
        </button>
    </mat-card-actions>
</mat-card>

<mat-spinner *ngIf="isProcessing && !item"></mat-spinner>