<mat-card *ngIf="!isProcessing && item">
    <mat-card-content>
        <div class="item-header">
            <button routerLink="/user/{{item?.user?.id}}"
                mat-button>
                <div>
                    <div *ngIf="item.user?.avatarUrl && item.user?.avatarUrl !== ''"
                        mat-card-avatar
                        [style.background-image]="'url(' + item.user.avatarUrl + ')'"></div>
                    <div class="header-text-container">
                        <mat-card-title>{{item.user.username}}</mat-card-title>
                        <mat-card-subtitle>{{item.dateCreated | date:'HH:mm MMM d, y'}}</mat-card-subtitle>
                    </div>
                </div>
            </button>

            <button mat-button
                [matMenuTriggerFor]="menu"
                xPosition="after"
                #contextMenuTrigger="matMenuTrigger"
                (click)="openContextMenu($event)"
                matTooltip="Menu"
                aria-label="Menu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>

        <div *ngIf="item?.media"
            class="item-media">
            <div *ngIf="item?.media?.length > 1">
                <!-- TODO: put some padding on to make the clickable area bigger. Better UX -->
                <button mat-icon-button
                    (click)="mediaPrevious()">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                </button>
                <button mat-icon-button
                    (click)="mediaNext()">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>

            <img mat-card-image
                [src]="item?.media[activeMediaIndex]"
                alt="item image">
        </div>

        <a routerLink="/item/comments/{{item.uId}}"
            class="item-body">
            <h3>{{item.title}}</h3>

            <p #description>{{item.description}}</p>
        </a>

        <div class="more-button-container">
            <button mat-button
                *ngIf="showMoreButton"
                (click)="showMoreDescription()">More</button>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button
            routerLink="/item/comments/{{item.uId}}"
            *ngIf="!isViewingComments"
            type="button">
            <mat-icon>mode_comment</mat-icon>
            Comment
        </button>
        <button mat-button
            (click)="openShareDialog()"
            type="button">
            <mat-icon>share</mat-icon>
            Share
        </button>
    </mat-card-actions>
</mat-card>

<mat-spinner *ngIf="isProcessing && !item"></mat-spinner>

<mat-menu #menu="matMenu">
    <ng-template matMenuContent>
        <ng-container *ngTemplateOutlet="contextMenu; context: {$implicit: {}}"></ng-container>
    </ng-template>
</mat-menu>

<ng-template #bottomSheetContextMenu>
    <ng-container *ngTemplateOutlet="contextMenu; context: {$implicit: {}}"></ng-container>
</ng-template>

<!-- Context menu links -->
<ng-template #contextMenu
    let-data>
    <mat-nav-list (click)="bottomSheet.dismiss()">

        <mat-list-item *ngIf="loggedInUserId">
            <mat-icon mat-list-icon>star</mat-icon>
            <span mat-line>Save</span>
        </mat-list-item>
        <mat-list-item *ngIf="item?.user?.id === loggedInUserId"
            (click)="goToEditItem(item?.uId)">
            <mat-icon mat-list-icon>edit</mat-icon>
            <span mat-line>Edit</span>
        </mat-list-item>
        <mat-list-item (click)="deleteItem()"
            *ngIf="item?.user?.id === loggedInUserId">
            <mat-icon mat-list-icon
                color="warn">delete</mat-icon>
            <span mat-line>Delete</span>
        </mat-list-item>
        <mat-list-item (click)="reportItem()">
            <mat-icon mat-list-icon>report</mat-icon>
            <span mat-line>Report</span>
        </mat-list-item>

    </mat-nav-list>
</ng-template>