<mat-card>
    <mat-card-content>
        <form [formGroup]="formGroup">
            <mat-form-field>
                <mat-label>password</mat-label>
                <input matInput
                    formControlName="password"
                    type="password"
                    required
                    [attr.autofocus]="bpService.isWeb || null">
                <mat-error>
                    <app-form-errors [control]="formGroup.get('password')"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <div *ngIf="formErrorsService.formErrors?.email?.required"
                class="mat-error">
                Email is required
            </div>
            <div *ngIf="formErrorsService.formErrors?.email?.email"
                class="mat-error">
                Email is invalid
            </div>
            <div *ngIf="formErrorsService.formErrors?.code?.required"
                class="mat-error">
                Reset code is required
            </div>
            <div *ngIf="formErrorsService.formErrors?.password?.error"
                class="mat-error">
                Error
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!formGroup.valid"
            (click)="onSubmit()">Save</button>
    </mat-card-actions>
</mat-card>

<mat-card *ngIf="isProcessing">
    <mat-spinner></mat-spinner>
</mat-card>