<form [hidden]="isProcessing"
    [formGroup]="formGroup">
    <mat-card>
        <mat-card-content>
            <mat-form-field>
                <mat-label>password</mat-label>
                <input matInput
                    formControlName="password"
                    type="password"
                    required
                    [attr.autofocus]="bpService.isDesktop || null">
                <mat-error>
                    <app-form-errors [control]="formGroup.get('password')"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <div *ngIf="formErrorsService.formErrors?.email?.required"
                class="mat-error">
                Email is required
            </div>
            <div *ngIf="formErrorsService.formErrors?.email?.email"
                class="mat-error">
                Email is invalid
            </div>
            <div *ngIf="formErrorsService.formErrors?.code?.required"
                class="mat-error">
                Reset code is required
            </div>
            <div *ngIf="formErrorsService.formErrors?.password?.error"
                class="mat-error">
                Error
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!formGroup.valid"
                (click)="onSubmit()">Save</button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-spinner *ngIf="isProcessing"></mat-spinner>