<form [formGroup]="form">
    <mat-card *ngIf="!isProcessing">
        <mat-card-content>
            <mat-form-field>
                <mat-label>password</mat-label>
                <input matInput
                    formControlName="password"
                    type="password"
                    required>
            </mat-form-field>
            <div *ngIf="serverErrors?.password"
                class="validation-message">{{ serverErrors.password.message }}</div>
            <app-show-errors [control]="form.controls['password']"></app-show-errors>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!form.valid"
                (click)="onSubmit()">Save</button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-card *ngIf="isProcessing">
    <mat-spinner></mat-spinner>
</mat-card>