@import 'quill/dist/quill.snow.css';

// Light theme
app-html-editor .ql-toolbar button {
	&:hover svg {
		opacity: 0.5;
	}
}


// Dark theme
.dark-theme app-html-editor {
	.ql-editor.ql-blank::before {
		color: #fff;
	}

	.ql-toolbar button {
		svg {
			fill: #fff;
		}
	}
}