<mat-card [hidden]="isProcessing">
  <mat-card-content>

    <table mat-table
      *ngIf="paymentHistory && paymentHistory.length > 0"
      [dataSource]="paymentHistory"
      class="full-width">

      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell
          *matHeaderCellDef>Date</th>
        <td mat-cell
          *matCellDef="let element">{{element.dateCreated | date:'long'}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell
          *matHeaderCellDef>Description</th>
        <td mat-cell
          *matCellDef="let element">Payment successful</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell
          *matHeaderCellDef>Amount</th>
        <td mat-cell
          *matCellDef="let element">€{{element.amount / 100}}</td>
      </ng-container>

      <tr mat-header-row
        *matHeaderRowDef="['dateCreated', 'description', 'amount']"></tr>
      <tr mat-row
        *matRowDef="let row; columns: ['dateCreated', 'description', 'amount'];"></tr>
    </table>

    <p *ngIf="!paymentHistory || paymentHistory.length === 0">
      No payment history available
    </p>

  </mat-card-content>
  <mat-card-actions *ngIf="!paymentHistory || paymentHistory.length === 0">
    <button mat-stroked-button
      routerLink="/payment"
      type="button">Donate</button>
  </mat-card-actions>
</mat-card>

<app-preloader *ngIf="isProcessing"></app-preloader>