<mat-card [hidden]="isProcessing">
  <mat-card-content>

    <table mat-table
      *ngIf="paymentHistory && paymentHistory.length > 0"
      [dataSource]="paymentHistory"
      class="full-width">

      <ng-container matColumnDef="amount">
        <th mat-header-cell
          *matHeaderCellDef>Amount</th>
        <td mat-cell
          *matCellDef="let element">€{{element.amount}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell
          *matHeaderCellDef>Description</th>
        <td mat-cell
          *matCellDef="let element">Payment successful</td>
      </ng-container>

      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell
          *matHeaderCellDef>Date</th>
        <td mat-cell
          *matCellDef="let element">{{element.dateCreated | date:'medium'}}</td>
      </ng-container>

      <tr mat-header-row
        *matHeaderRowDef="['amount', 'description', 'dateCreated']"></tr>
      <tr mat-row
        *matRowDef="let row; columns: ['amount', 'description', 'dateCreated'];"></tr>
    </table>

    <p *ngIf="!paymentHistory || paymentHistory.length === 0">
      No payment history available
    </p>

  </mat-card-content>
</mat-card>

<mat-spinner *ngIf="isProcessing"></mat-spinner>