.info-tooltip-container {
	text-align: right;

	::ng-deep .info-tooltip {
		white-space: pre-line;
	}
}

.payment-successful-container {
	text-align: center;

	app-icon-check-circle ::ng-deep svg {
		color: var(--primary-color);
	}
}