.payment-successful-container {
	text-align: center;

	app-icon-check-circle ::ng-deep svg {
		color: var(--primary-color);
	}
}

.payment-options-list mat-chip {
	cursor: pointer;
	user-select: none;
}

mat-slider {
	width: 212px;
}