.info-tooltip-container {
	text-align: right;
}

::ng-deep .info-tooltip {
	white-space: pre-line;
}

.payment-successful-container {
	text-align: center;

	mat-icon {
		color: green;
		font-size: 3rem;
		width: 100%;
	}
}