<form [formGroup]="form">
    <mat-card *ngIf="!isProcessing"
        [appTutorial]="tutorialTypeEnum.UpdatePassword">
        <mat-card-title>Password</mat-card-title>
        <mat-card-content>

            <mat-form-field>
                <input matInput
                    formControlName="password"
                    type="password"
                    placeholder="current password"
                    required>
            </mat-form-field>
            <div *ngIf="serverErrors?.password"
                class="validation-message">{{ serverErrors.password.message }}</div>
            <app-show-errors [control]="form.controls['password']"></app-show-errors>

            <br>

            <mat-form-field>
                <input matInput
                    formControlName="newPassword"
                    type="password"
                    placeholder="new password"
                    required>
            </mat-form-field>
            <div *ngIf="serverErrors?.newPassword"
                class="validation-message">{{ serverErrors.newPassword.message }}</div>
            <app-show-errors [control]="form.controls['newPassword']"></app-show-errors>

            <br>

            <mat-form-field>
                <input matInput
                    formControlName="confirmPassword"
                    type="password"
                    placeholder="confirm password"
                    required>
            </mat-form-field>
            <div *ngIf="serverErrors?.confirmPassword"
                class="validation-message">{{ serverErrors.confirmPassword.message }}</div>
            <app-show-errors [control]="form.controls['confirmPassword']"></app-show-errors>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button
                type="button"
                routerLink="/forgot-password">Forgot password</button>
            <button mat-raised-button
                type="submit"
                [disabled]="!form.valid"
                (click)="onSubmit()">Update password</button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-card *ngIf="isProcessing">
    <mat-card-content>
        <mat-spinner class="preloader"></mat-spinner>
    </mat-card-content>
</mat-card>