<form [hidden]="isProcessing"
    [formGroup]="formGroup">
    <mat-card [appTutorial]="tutorialTypeEnum.UPDATE_PASSWORD">
        <mat-card-title>Password</mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>current password</mat-label>
                <input matInput
                    formControlName="password"
                    type="password">
                <mat-error>
                    <app-form-errors [control]="formGroup.controls['password']"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label>new password</mat-label>
                <input matInput
                    formControlName="newPassword"
                    type="password">
                <mat-error>
                    <app-form-errors [control]="formGroup.controls['newPassword']">
                        <ng-container *ngIf="formGroup.controls['newPassword'].hasError('pattern')">
                            1 lower case, 1 upper case character and 1 digit required
                        </ng-container>
                    </app-form-errors>
                </mat-error>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label>confirm password</mat-label>
                <input matInput
                    formControlName="confirmPassword"
                    type="password">
                <mat-error>
                    <app-form-errors [control]="formGroup.controls['confirmPassword']">
                        <ng-container *ngIf="!formGroup.controls['confirmPassword'].hasError('passwordCompare')">
                            New password and confirm password does not match
                        </ng-container>
                    </app-form-errors>
                </mat-error>
            </mat-form-field>

            <div *ngIf="formErrorsService.globalErrors?.updatePasswordInvalid"
                class="mat-error">
                Invalid password
            </div>

            <div *ngIf="formErrorsService.globalErrors?.updatePassword"
                class="mat-error">
                Error
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button
                type="submit"
                [disabled]="!formGroup.valid"
                (click)="onSubmit()">Update password</button>
            <button mat-raised-button
                type="button"
                routerLink="/forgot-password">Forgot password</button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-spinner *ngIf="isProcessing"></mat-spinner>