<form [hidden]="isProcessing"
    [formGroup]="formGroup">
    <mat-card [appTutorial]="tutorialTypeEnum.UpdatePassword">
        <mat-card-title>Password</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <mat-label>current password</mat-label>
                <input matInput
                    formControlName="password"
                    type="password"
                    required>
                <mat-error>
                    <app-form-errors [control]="formGroup.get('password')"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <br>

            <mat-form-field>
                <mat-label>new password</mat-label>
                <input matInput
                    formControlName="newPassword"
                    type="password"
                    required>
                <mat-error>
                    <app-form-errors [control]="formGroup.get('newPassword')"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <br>

            <mat-form-field>
                <mat-label>confirm password</mat-label>
                <input matInput
                    formControlName="confirmPassword"
                    type="password"
                    required>
                <mat-error>
                    <app-form-errors [control]="formGroup.get('confirmPassword')"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <div *ngIf="formErrorsService.formErrors?.password?.invalid"
                class="mat-error">
                Invalid password
            </div>

            <div *ngIf="formErrorsService.formErrors?.password?.error"
                class="mat-error">
                Error
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button
                type="submit"
                [disabled]="!formGroup.valid"
                (click)="onSubmit()">Update password</button>
            <button mat-raised-button
                type="button"
                routerLink="/forgot-password">Forgot password</button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-spinner *ngIf="isProcessing"></mat-spinner>