<input type="file"
    #fileInput
    multiple
    (change)="handleChange($event)" />

<div *ngIf="showDropZoneForDesktop && bpService.isDesktop"
    class="area"
    [class.highlight]="highlightDragDropArea"
    (click)="openFileUpload()"
    (keypress)="openFileUpload()">

    <span *ngIf="!message">Drag a file here or <u>browse</u> for one to upload</span>
    <span *ngIf="message">{{message}}</span>

</div>

<div *ngFor="let image of previewImages; let index = index; trackBy: trackByFn"
    class="preview-images-container">
    <!-- Progress bar -->
    <mat-progress-bar *ngIf="image && image.uploadProgressPercentage"
        [value]="image.uploadProgressPercentage"
        matTooltip="{{image.uploadProgressPercentage}}%"></mat-progress-bar>

    <!-- Error message -->
    <div class="error-message"
        *ngIf="image.errorMessage">{{image.errorMessage}}</div>

    <!-- Preview image -->
    <img [src]="image.url || image.localUrl"
        alt="preview image"
        (load)="image.hasLoaded = true"
        [ngClass]="{'rotate-ninety-degrees': image.rotation === rotationEnum.ninetyDegrees, 'rotate-one-hundred-and-eighty-degrees': image.rotation === rotationEnum.oneHundredAndEightyDegrees, 'rotate-two-hundred-and-seventy-degrees': image.rotation === rotationEnum.twoHundredAndSeventyDegrees}" />

    <!-- Remove button -->
    <button mat-icon-button
        *ngIf="image.hasLoaded"
        type="button"
        (click)="remove(index)"
        matTooltip="Remove"
        class="left">
        <app-icon-close></app-icon-close>
    </button>

    <!-- Rotate button -->
    <button mat-icon-button
        *ngIf="image.hasLoaded"
        type="button"
        (click)="rotate(index)"
        matTooltip="Rotate"
        class="right">
        <app-icon-rotate-right></app-icon-rotate-right>
    </button>
</div>