<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            What is NEAN?
        </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
        <app-github [filePath]="'README.md'"
            (doneLoading)="doneLoading()"></app-github>

        <app-preloader *ngIf="isProcessing"></app-preloader>
    </ng-template>

    <mat-action-row>
        <a mat-button
            href="https://github.com/CharlBest/nean-stack-starter"
            target="_blank"
            rel="noopener noreferrer"
            matTooltip="GitHub"
            aria-label="GitHub">
            <img src="assets/github-logo.svg"
                alt="GitHub"
                loading="lazy"
                width="20"
                height="20"
                [class.light-github-logo]="themeService.isDarkTheme">
            <span>&nbsp;&nbsp;GitHub</span>
        </a>
    </mat-action-row>
</mat-expansion-panel>