<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            What is NEAN?
        </mat-panel-title>
    </mat-expansion-panel-header>

    <app-github [filePath]="'README'"
        (doneLoading)="doneLoading()"></app-github>

    <mat-spinner *ngIf="isProcessing"></mat-spinner>

    <mat-action-row>
        <a mat-button
            href="https://github.com/CharlBest/nean-stack-starter"
            target="_blank"
            rel="noopener"
            matTooltip="GitHub"
            aria-label="GitHub">
            <img src="assets/github-logo.svg"
                alt="GitHub">
            <span>&nbsp;&nbsp;GitHub</span>
        </a>
    </mat-action-row>
</mat-expansion-panel>