<div [hidden]="isProcessing || !user">
    <mat-card>
        <mat-card-title class="title">
            {{user?.username}}

            <app-context-menu #contextMenu>
                <mat-nav-list>
                    <mat-list-item (click)="copyLink()">
                        <app-icon-link mat-list-icon></app-icon-link>
                        <span mat-line>Copy link to User</span>
                    </mat-list-item>
                    <mat-list-item (click)="openShareDialog()">
                        <app-icon-share mat-list-icon></app-icon-share>
                        <span mat-line>Share</span>
                    </mat-list-item>
                </mat-nav-list>
            </app-context-menu>
        </mat-card-title>
        <mat-card-content [innerHTML]="user?.bio"></mat-card-content>
    </mat-card>

    <app-item *ngFor="let item of user?.items"
        [item]="item"></app-item>

    <mat-card *ngIf="!user?.items || user?.items?.length === 0">
        <mat-card-content>
            No items exist
        </mat-card-content>
        <mat-card-actions *ngIf="loggedInUserId === userId">
            <button mat-raised-button
                routerLink="/item/create"
                type="button">Create Item</button>
        </mat-card-actions>
    </mat-card>
</div>

<mat-card *ngIf="!isProcessing && !user">
    No user found
</mat-card>

<mat-spinner *ngIf="isProcessing"></mat-spinner>