<div [hidden]="isProcessing || !user">
    <mat-card>
        <mat-card-title>{{user?.username}}</mat-card-title>
        <mat-card-content [innerHTML]="user?.bio"></mat-card-content>
        <mat-card-actions>
            <button mat-raised-button
                type="button"
                (click)="openShareDialog()">Share</button>
        </mat-card-actions>
    </mat-card>

    <app-item *ngFor="let item of user?.items"
        [item]="item"></app-item>

    <mat-card *ngIf="!user?.items || user?.items?.length === 0">
        No items exist
    </mat-card>
</div>

<mat-card *ngIf="!isProcessing && !user">
    No user found
</mat-card>

<mat-card *ngIf="isProcessing">
    <mat-spinner></mat-spinner>
</mat-card>