<form [hidden]="isProcessing"
    [formGroup]="formGroup">
    <mat-card>
        <mat-card-content>

            <button mat-raised-button
                color="accent"
                type="button"
                routerLink="/login">Login</button>
            if you have an account
            <br>

            <mat-form-field>
                <mat-label>email</mat-label>
                <input matInput
                    formControlName="email"
                    type="email"
                    autocomplete="email"
                    required
                    [attr.autofocus]="bpService.isDesktop || null">
                <mat-error>
                    <app-form-errors [control]="formGroup.get('email')"></app-form-errors>
                    <div *ngIf="formGroup.get('email').hasError('exists')">
                        Email already exists
                    </div>
                </mat-error>
            </mat-form-field>

            <br>

            <mat-form-field>
                <mat-label>username</mat-label>
                <input matInput
                    formControlName="username"
                    type="text"
                    required>
                <mat-error>
                    <app-form-errors [control]="formGroup.get('username')"></app-form-errors>
                    <div *ngIf="formGroup.get('username').hasError('exists')">
                        Username already exists
                    </div>
                </mat-error>
            </mat-form-field>

            <br>

            <mat-form-field>
                <mat-label>password</mat-label>
                <input matInput
                    formControlName="password"
                    type="password"
                    required>
                <mat-error>
                    <app-form-errors [control]="formGroup.get('password')"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <div class="sign-up-info">
                By signing up, you agree to our
                <a routerLink="/business/terms-and-conditions">Terms</a> and
                <a routerLink="/business/privacy-policy">Privacy Policy</a>
            </div>

            <div *ngIf="formErrorsService.formErrors?.error"
                class="mat-error">
                Validation failed for some reason
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!formGroup.valid"
                (click)="onSubmit()">Sign up</button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-spinner *ngIf="isProcessing"></mat-spinner>