<form [formGroup]="form">
    <md-card *ngIf="!isProcessing">
        <md-card-content>

            <md-form-field>
                <input mdInput
                    formControlName="email"
                    type="text"
                    placeholder="email"
                    required>
            </md-form-field>
            <div *ngIf="serverErrors?.email"
                class="validation-message">{{ serverErrors.email.message }}</div>
            <app-show-errors [control]="form.controls['email']"></app-show-errors>

            <br>

            <md-form-field>
                <input mdInput
                    formControlName="username"
                    type="text"
                    placeholder="username"
                    required>
            </md-form-field>
            <div *ngIf="serverErrors?.username"
                class="validation-message">{{ serverErrors.username.message }}</div>
            <app-show-errors [control]="form.controls['username']"></app-show-errors>

            <br>

            <md-form-field>
                <input mdInput
                    formControlName="password"
                    type="password"
                    placeholder="password"
                    required>
            </md-form-field>
            <div *ngIf="serverErrors?.password"
                class="validation-message">{{ serverErrors.password.message }}</div>
            <app-show-errors [control]="form.controls['password']"></app-show-errors>

            <div class="signUpInfo">
                By signing up, you agree to our <a routerLink="/t+c">Terms</a> and <a routerLink="/privacypolicy">Privacy Policy</a>
            </div>
        </md-card-content>
        <md-card-actions align="end">
            <button md-raised-button
                color="primary"
                type="submit"
                [disabled]="!form.valid"
                (click)="onSubmit()">Sign up</button>
        </md-card-actions>
    </md-card>
</form>

<md-card *ngIf="isProcessing">
    <md-card-content>
        <md-spinner class="preloader"></md-spinner>
    </md-card-content>
</md-card>