<form [formGroup]="form">
    <mat-card *ngIf="!isProcessing">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            Don't have an account please
            <button mat-raised-button
                [appTutorial]="tutorialTypeEnum.SignUp"
                tutorialBackgroundColor="none"
                color="accent"
                type="button"
                routerLink="/create-user">Sign up</button>

            <br>

            <mat-form-field>
                <mat-label>email or username</mat-label>
                <input matInput
                    formControlName="emailOrUsername"
                    type="text"
                    autocomplete="email"
                    required>
            </mat-form-field>
            <div *ngIf="serverErrors?.emailOrUsername"
                class="validation-message">{{ serverErrors.emailOrUsername.message }}</div>
            <app-show-errors [control]="form.controls['emailOrUsername']"></app-show-errors>

            <br>

            <mat-form-field>
                <mat-label>password</mat-label>
                <input matInput
                    formControlName="password"
                    type="password"
                    required>
            </mat-form-field>
            <div *ngIf="serverErrors?.password"
                class="validation-message">{{ serverErrors.password.message }}</div>
            <app-show-errors [control]="form.controls['password']"></app-show-errors>


        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!form.valid"
                (click)="onSubmit()">Log in</button>
            <button mat-raised-button
                [appTutorial]="tutorialTypeEnum.ForgotPassword"
                type="button"
                routerLink="/forgot-password">Forgot password</button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-card *ngIf="isProcessing">
    <mat-card-content>
        <mat-spinner class="preloader"></mat-spinner>
    </mat-card-content>
</mat-card>