<form [hidden]="isProcessing"
    [formGroup]="formGroup">
    <mat-card>
        <mat-card-content>
            <button mat-stroked-button
                appTutorial="SIGN_UP"
                color="accent"
                type="button"
                routerLink="/create-user">Sign Up</button>
            if you don't have an account
            <br>
            <br>

            <mat-form-field appearance="fill">
                <mat-label>Email or Username</mat-label>
                <input matInput
                    formControlName="emailOrUsername"
                    type="email"
                    autocomplete="email"
                    [attr.autofocus]="bpService.isDesktop || null">
                <mat-error>
                    <app-form-errors [control]="formGroup.controls['emailOrUsername']"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput
                    formControlName="password"
                    type="password">
                <mat-error>
                    <app-form-errors [control]="formGroup.controls['password']"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill"
                *ngIf="showTwoFactorAuthentication">
                <mat-label>Two Factor Auth Code</mat-label>
                <input matInput
                    formControlName="twoFactorAuthenticationCode">
                <mat-error>
                    <app-form-errors [control]="formGroup.controls['twoFactorAuthenticationCode']">
                        <ng-container *ngIf="formGroup.controls['twoFactorAuthenticationCode'].hasError('invalid')">
                            Code is invalid
                        </ng-container>
                    </app-form-errors>
                </mat-error>
            </mat-form-field>

            <div *ngIf="formErrorsService.globalErrors?.loginInvalidCredentials"
                class="mat-error">
                Invalid username or password
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button
                color="primary"
                type="submit"
                [disabled]="!formGroup.valid"
                (click)="onSubmit()">Log In</button>
            <button mat-stroked-button
                appTutorial="FORGOT_PASSWORD"
                type="button"
                routerLink="/forgot-password">Forgot Password</button>
        </mat-card-actions>
    </mat-card>
</form>

<app-preloader *ngIf="isProcessing"></app-preloader>