<form [hidden]="isProcessing"
    [formGroup]="formGroup">
    <mat-card>
        <mat-card-content>
            <button mat-raised-button
                [appTutorial]="tutorialTypeEnum.SignUp"
                color="accent"
                type="button"
                routerLink="/create-user">Sign up</button>
            if you don't have an account
            <br>
            <br>

            <mat-form-field appearance="fill">
                <mat-label>email or username</mat-label>
                <input matInput
                    formControlName="emailOrUsername"
                    type="email"
                    autocomplete="email"
                    required
                    [attr.autofocus]="bpService.isDesktop || null">
                <mat-error>
                    <app-form-errors [control]="formGroup.controls['emailOrUsername']"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label>password</mat-label>
                <input matInput
                    formControlName="password"
                    type="password"
                    required>
                <mat-error>
                    <app-form-errors [control]="formGroup.controls['password']"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <div *ngIf="formErrorsService.globalErrors?.loginInvalidCredentials"
                class="mat-error">
                Invalid username or password
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!formGroup.valid"
                (click)="onSubmit()">Log in</button>
            <button mat-raised-button
                [appTutorial]="tutorialTypeEnum.ForgotPassword"
                type="button"
                routerLink="/forgot-password">Forgot password</button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-spinner *ngIf="isProcessing"></mat-spinner>