<div [hidden]="isProcessing || paymentSuccess"
    style="min-width: 270px; max-width: 370px;">
    <div style="width: 370px;"></div>
    <form [formGroup]="form">
        <mat-dialog-content>
            <button mat-button
                [matDialogClose]="true"
                style="float: right;">
                <mat-icon>close</mat-icon>
            </button>

            <h2 matDialogTitle
                style="float: left;">Donate
                <mat-icon matTooltipClass="info-tooltip"
                    matTooltip="Demo:
                Card number: 4242 4242 4242 4242
                Expire date: Any future date 
                CVC: Any 3 degit number
                Zip: Any 5 degit number">info_outline</mat-icon>
            </h2>

            <div style="clear: both;"></div>

            <div>
                <div id="card-element"></div>
                <div id="card-errors"
                    role="alert"></div>
            </div>
            <br>
            <div class="StripeElement">
                &#8364;
                <input formControlName="amount"
                    type="number"
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                    placeholder="Amount in euros"
                    style="outline: none; border: none;" />

                <div *ngIf="serverErrors?.password"
                    class="validation-message">{{ serverErrors.password.message }}</div>
                <app-show-errors [control]="form.controls['password']"></app-show-errors>
            </div>

            <br>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!form.valid"
                (click)="onSubmit()">Pay</button>
        </mat-dialog-actions>
    </form>
</div>

<mat-dialog-content *ngIf="isProcessing">
    <br>
    <mat-spinner class="preloader"></mat-spinner>
    <br>
</mat-dialog-content>

<mat-dialog-content *ngIf="!isProcessing && paymentSuccess"
    (click)="closeDialog()">
    <div style="text-align: center;">
        <mat-icon style="color: green; font-size: 3rem; width: 100%;">
            check_circle
        </mat-icon>
        <br>
        <p>Payment successful</p>
    </div>
</mat-dialog-content>