<h2 mat-dialog-title>
    Donate
    <mat-icon matTooltipClass="info-tooltip"
        matTooltip="Demo:
Card number: 4242 4242 4242 4242
Expire date: Any future date 
CVC: Any 3 degit number
Zip: Any 5 degit number">info_outline</mat-icon>
</h2>

<div [hidden]="isProcessing || paymentSuccess"
    class="payment-container">
    <div class="width-enforcer"></div>
    <form [formGroup]="formGroup">
        <mat-dialog-content>

            <mat-form-field *ngIf="isUserLoggedIn && userCards?.length > 0">
                <mat-label>Cards</mat-label>
                <mat-select formControlName="cardUId"
                    [value]="userCards[0]?.uId">
                    <mat-option *ngFor="let card of userCards"
                        [value]="card.uId">
                        **** {{card.last4}}
                    </mat-option>
                    <mat-option value="new">Use new card</mat-option>
                </mat-select>
            </mat-form-field>

            <app-stripe-elements [hidden]="formGroup.get('cardUId').value !== null && formGroup.get('cardUId').value !== 'new'"
                #stripeElements
                (isDoneRendering)="isProcessing = !$event"></app-stripe-elements>

            <mat-form-field>
                <input matInput
                    floatLabel="never"
                    formControlName="amount"
                    placeholder="Amount in euros"
                    type="number"
                    (keypress)="$event.charCode >= 48 && $event.charCode <= 57"
                    required>
                <span matPrefix>€&nbsp;</span>
                <mat-error>
                    <app-form-errors [control]="formGroup.get('amount')"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <ng-container *ngIf="!isUserLoggedIn">
                <br>

                <mat-form-field>
                    <input matInput
                        formControlName="email"
                        placeholder="Email"
                        type="email"
                        [required]="true"
                        required>
                    <mat-error>
                        <app-form-errors [control]="formGroup.get('email')"></app-form-errors>
                    </mat-error>
                </mat-form-field>
            </ng-container>

            <ng-container *ngIf="isUserLoggedIn && (formGroup.get('cardUId').value === null || formGroup.get('cardUId').value === 'new')">
                <br>

                <mat-checkbox formControlName="saveCard">Save card</mat-checkbox>

                <br>
            </ng-container>

            <div *ngIf="formErrorsService.formErrors?.token?.required"
                class="mat-error">
                Token is required
            </div>

            <br>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!isFormValid()"
                (click)="onSubmit()">Pay</button>
            <button mat-raised-button
                type="button"
                mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
    </form>
</div>

<mat-dialog-content *ngIf="isProcessing">
    <br>
    <mat-spinner></mat-spinner>
    <br>
</mat-dialog-content>

<ng-container *ngIf="!isProcessing && paymentSuccess">
    <mat-dialog-content>
        <div class="payment-successful-container">
            <mat-icon>check_circle</mat-icon>
            <br>
            <p>Payment successful</p>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button
            type="button"
            mat-dialog-close>Close</button>
    </mat-dialog-actions>
</ng-container>

<ng-template #errorDialog>
    <mat-dialog-content>
        Invalid card details
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button
            type="button"
            (click)="dialog.closeAll()">Close</button>
    </mat-dialog-actions>
</ng-template>