/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
	background-color: #fff;
	padding: 8px 12px;
	border-radius: 4px;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
	border-color: #fa755a;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}

::ng-deep .info-tooltip {
	white-space: pre-line;
}

.payment-container {
	min-width: 270px;
	max-width: 370px;

	.width-enforcer {
		width: 370px;
	}

	input {
		outline: none;
		border: none;
	}
}

.payment-successful-container {
	text-align: center;

	mat-icon {
		color: green;
		font-size: 3rem;
		width: 100%;
	}
}