::ng-deep .info-tooltip {
	white-space: pre-line;
}

.payment-container {
	min-width: 270px;
	max-width: 370px;

	.width-enforcer {
		width: 370px;
	}
}

.payment-successful-container {
	text-align: center;

	mat-icon {
		color: green;
		font-size: 3rem;
		width: 100%;
	}
}