<form [formGroup]="formGroup">
    <mat-card>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput
                    formControlName="title"
                    [attr.autofocus]="bpService.isDesktop || null" />
                <mat-error>
                    <app-form-errors [control]="formGroup.controls['title']"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput
                    formControlName="description"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="3"
                    cdkAutosizeMaxRows="8"></textarea>
                <mat-error>
                    <app-form-errors [control]="formGroup.controls['description']"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <br>

            <div class="media-container">
                <div *ngFor="let media of formGroup.controls['media'].value; let i = index"
                    class="media">
                    <app-media [src]="media"
                        *ngIf="media"></app-media>

                    <button mat-stroked-button
                        type="button"
                        color="warn"
                        (click)="removeMedia(i)">Remove</button>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button
                type="submit"
                color="primary"
                [disabled]="!formGroup.valid"
                (click)="submitForm.emit()">{{item?.uId ? 'Update' : 'Create'}}</button>
            <!-- TODO: don't think update and create are the best words here. Same with comment -->

            <app-upload-button (uploadComplete)="addItemMedia($event)"
                [folderName]="'item'"
                [buttonText]="'Add media'"
                *ngIf="formGroup.controls['media']?.value?.length < MAX_MEDIA_UPLOADS"></app-upload-button>
        </mat-card-actions>
    </mat-card>
</form>