<form [formGroup]="formGroup">
    <mat-card>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput
                    formControlName="title"
                    [attr.autofocus]="bpService.isDesktop || null" />
                <mat-error>
                    <app-form-errors [control]="formGroup.controls['title']"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput
                    formControlName="description"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="3"
                    cdkAutosizeMaxRows="8"></textarea>
                <mat-error>
                    <app-form-errors [control]="formGroup.controls['description']"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <br>

            <app-file-uploader #fileUploader
                [folderName]="'item'"></app-file-uploader>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button
                type="submit"
                color="primary"
                [disabled]="!formGroup.valid"
                (click)="onSubmit()">{{item?.uId ? 'Update' : 'Create'}}</button>
            <!-- TODO: don't think update and create are the best words here. Same with comment -->

            <button mat-stroked-button
                type="button"
                *ngIf="!bpService.isDesktop && formGroup.controls['files']?.value?.length < MAX_FILE_UPLOADS"
                (click)="fileUploader.openFileUpload()">Add Image</button>
        </mat-card-actions>
    </mat-card>
</form>