<ng-template #backNavRightPlaceholder>
  <button mat-icon-button
    type="button">
    <mat-icon>settings</mat-icon>
  </button>
</ng-template>

<div [hidden]="isProcessing"
  *ngIf="user">
  <mat-card>
    <mat-card-title class="profile-title">
      {{user.username}}
      <button mat-icon-button
        type="button"
        (click)="profileTour()">
        <mat-icon>info</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
    <mat-card-content>
      <div>Email verified:
        <mat-icon *ngIf="user.emailVerified"
          [inline]="true"
          class="email-verified">done</mat-icon>
        <mat-icon *ngIf="!user.emailVerified"
          [inline]="true"
          color="warn">close</mat-icon>
      </div>
      <div>Sign-up date: {{user.dateCreated | date}}</div>
    </mat-card-content>
    <mat-card-actions class="profile-actions">
      <button mat-raised-button
        type="button"
        (click)="openShareDialog()"
        [appTutorial]="tutorialTypeEnum.ProfileShare">Share</button>
      <button mat-raised-button
        type="button"
        (click)="reportUser()"
        [appTutorial]="tutorialTypeEnum.ProfileReport">Report</button>
      <button mat-raised-button
        type="button"
        (click)="resendEmailVerificationLink()"
        *ngIf="!user.emailVerified">Resend email verification link</button>
      <button mat-raised-button
        color="warn"
        type="button"
        (click)="openDeleteAccountDialog()"
        [appTutorial]="tutorialTypeEnum.DeleteUser">Delete account</button>
    </mat-card-actions>
  </mat-card>

  <mat-card [appTutorial]="tutorialTypeEnum.AvatarUpload">
    <mat-card-title>Avatar</mat-card-title>
    <mat-card-content>
      <app-media [src]="user.avatarUrl"
        *ngIf="user.avatarUrl"
        class="avatar"></app-media>
    </mat-card-content>
    <mat-card-actions>
      <app-upload-button (onUploadComplete)="updateAvatar($event)"
        [folderName]="'avatars'"
        [buttonText]="user.avatarUrl ? 'Replace avatar' : 'Upload avatar'"></app-upload-button>
      <button mat-raised-button
        color="warn"
        type="button"
        (click)="removeAvatar()"
        *ngIf="user?.avatarUrl?.length > 0">Remove avatar</button>
    </mat-card-actions>
  </mat-card>

  <app-update-bio [content]="user.bio"></app-update-bio>

  <app-update-password></app-update-password>

  <app-payments [userCards]="user.userCards"></app-payments>

  <app-notifications></app-notifications>

  <app-language></app-language>
</div>

<mat-card [hidden]="isProcessing"
  *ngIf="!user">
  <mat-card-content>
    An error occurred
  </mat-card-content>
</mat-card>

<mat-card *ngIf="isProcessing">
  <mat-spinner></mat-spinner>
</mat-card>