.profile-title {
	display: flex;
	justify-content: space-between;
}

.email-verified {
	color: green;
}

.profile-actions button {
	margin-bottom: 8px;
}

.avatar {
	display: block;
	max-width: 200px;
}