<div *ngIf="!isProcessing && user !== null">
  <mat-card>
    <mat-card-title>{{user.username}}</mat-card-title>
    <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
    <mat-card-content>
      <div>Email verified:
        <mat-icon *ngIf="user.emailVerified"
          style="font-size: 1rem; color: green;">done</mat-icon>
        <mat-icon *ngIf="!user.emailVerified"
          style="font-size: 1rem; color: red;">close</mat-icon>
      </div>
      <div>Sign-up date: {{user.dateCreated | date}}</div>
      <!-- <div>Profile views: {{user.views}}</div> -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
        (click)="openShareDialog()"
        [appTutorial]="tutorialTypeEnum.ProfileShare">Share</button>
      <button mat-raised-button
        (click)="openReportDialog()"
        [appTutorial]="tutorialTypeEnum.ProfileReport">Report</button>
      <button mat-raised-button
        (click)="resendEmailVerificationLink()"
        *ngIf="!user.emailVerified">Resend email verification link</button>
      <button mat-raised-button
        (click)="profileTour()">Profile tour</button>
      <button mat-raised-button
        color="warn"
        (click)="openDeleteAccountDialog()"
        [appTutorial]="tutorialTypeEnum.DeleteUser"
        tutorialBackgroundColor="none">Delete account</button>
    </mat-card-actions>
  </mat-card>

  <mat-card [appTutorial]="tutorialTypeEnum.AvatarUpload">
    <mat-card-title>Avatar</mat-card-title>
    <mat-card-content>
      <button mat-raised-button
        color="warn"
        (click)="removeAvatar()"
        *ngIf="user?.avatarUrl?.length > 0">Remove avatar</button>
      <app-upload-button (onUploadComplete)="updateAvatar($event)"></app-upload-button>

      <app-media [src]="user.avatarUrl"
        *ngIf="user.avatarUrl"
        mat-card-image></app-media>
    </mat-card-content>
  </mat-card>

  <app-update-bio [content]="user.bio"></app-update-bio>

  <app-update-password></app-update-password>

  <mat-card *ngIf="!isProcessing && user === null">
    <mat-card-content>
      An error occurred
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="isProcessing">
    <mat-card-content>
      <mat-spinner class="preloader"></mat-spinner>
    </mat-card-content>
  </mat-card>