<ng-template #backNavRightPlaceholder>
  <button routerLink="/business/user-data"
    mat-icon-button
    type="button"
    matTooltip="User data"
    aria-label="User data">
    <app-icon-graphic-eq></app-icon-graphic-eq>
  </button>
</ng-template>

<div [hidden]="isProcessing"
  *ngIf="user"
  [appRightClickContextMenu]="contextMenu">
  <mat-card>
    <mat-card-title class="title">
      {{user.username}}

      <app-context-menu #contextMenu>
        <mat-nav-list>
          <mat-list-item *ngIf="!user.emailVerified"
            (click)="resendEmailVerificationLink()">
            <app-icon-mail mat-list-icon></app-icon-mail>
            <span mat-line>Resend email verification</span>
          </mat-list-item>
          <mat-list-item (click)="openShareDialog()">
            <app-icon-share mat-list-icon></app-icon-share>
            <span mat-line>Share</span>
          </mat-list-item>
          <mat-list-item (click)="copyLink()">
            <app-icon-link mat-list-icon></app-icon-link>
            <span mat-line>Copy link to User</span>
          </mat-list-item>
          <mat-list-item (click)="reportUser()">
            <app-icon-report mat-list-icon></app-icon-report>
            <span mat-line>Report</span>
          </mat-list-item>
          <mat-list-item (click)="profileTour()">
            <app-icon-info mat-list-icon></app-icon-info>
            <span mat-line>Profile Tour</span>
          </mat-list-item>
          <mat-list-item (click)="goToDeleteAccount()">
            <app-icon-delete mat-list-icon></app-icon-delete>
            <span mat-line>Delete account</span>
          </mat-list-item>
        </mat-nav-list>
      </app-context-menu>
    </mat-card-title>
    <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
    <mat-card-content>
      <div>Email verified:
        <app-icon-verified-user *ngIf="user.emailVerified"
          [inline]="true"
          class="email-verified"></app-icon-verified-user>
        <app-icon-close *ngIf="!user.emailVerified"
          [inline]="true"
          color="warn"></app-icon-close>
      </div>
      <div>Sign-up date: {{user.dateCreated | date}}</div>
    </mat-card-content>
  </mat-card>

  <br>

  <mat-card appTutorial="AVATAR_UPLOAD">
    <mat-card-title>Avatar</mat-card-title>
    <mat-card-content>
      <app-file-uploader #fileUploader
        (changed)="updateAvatar()"
        [folderName]="'avatars'"></app-file-uploader>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button
        type="button"
        *ngIf="!bpService.isDesktop"
        (click)="fileUploader.openFileUpload()">{{user.avatar ? 'Replace Avatar' : 'Upload Avatar'}}</button>
    </mat-card-actions>
  </mat-card>

  <br>

  <app-update-bio [content]="user.bio"></app-update-bio>

  <br>

  <app-update-password></app-update-password>

  <br>

  <app-payments [paymentCards]="user.paymentCards"></app-payments>

  <br>

  <app-two-factor-authentication [twoFactorAuthenticationEnabled]="user.twoFactorAuthenticationEnabled">
  </app-two-factor-authentication>

  <br>

  <app-fingerprint></app-fingerprint>

  <br>
</div>

<mat-card [hidden]="isProcessing"
  *ngIf="!user">
  <mat-card-content>
    An error occurred
  </mat-card-content>
</mat-card>

<app-preloader *ngIf="isProcessing"></app-preloader>