<ng-container *ngIf="isAuthenticated">
    <mat-expansion-panel #expansionPanel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Create Item
            </mat-panel-title>
            <mat-panel-description>
                Type the title and description
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="formGroup">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput
                    formControlName="title">
                <mat-error>
                    <app-form-errors [control]="formGroup.get('title')"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <br>

            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput
                    formControlName="description">
                <mat-error>
                    <app-form-errors [control]="formGroup.get('description')"></app-form-errors>
                </mat-error>
            </mat-form-field>
        </form>

        <mat-action-row>
            <button mat-button
                (click)="formGroup.reset(); expansionPanel.close();">Cancel</button>
            <button mat-raised-button
                color="primary"
                [disabled]="!formGroup.valid"
                (click)="createItem()">Create</button>
        </mat-action-row>
    </mat-expansion-panel>
    <br>
</ng-container>

<ng-container *ngIf="!isProcessing">
    <ng-container *ngFor="let item of items">
        <mat-card routerLink="/items/{{item.uId}}"
            class="card">
            <mat-card-title class="title-container">
                <span>{{item.title}}</span>
                <span class="flex-spacer"></span>
                <ng-container *ngIf="item.canEdit">
                    <button mat-icon-button
                        color="warn"
                        (click)="deleteItem(item.uId)"
                        type="button">
                        <mat-icon>delete</mat-icon>
                    </button>
                </ng-container>
            </mat-card-title>
            <mat-card-content>{{item.description}}</mat-card-content>
        </mat-card>
        <br>
    </ng-container>
</ng-container>

<ng-container *ngIf="!isProcessing && (!items || items?.length === 0)">
    <mat-card>
        No items exist
    </mat-card>
    <br>
</ng-container>

<mat-card *ngIf="isProcessing">
    <mat-spinner></mat-spinner>
</mat-card>