<ng-container *ngIf="isAuthenticated">
    <form [formGroup]="formGroup">
        <mat-expansion-panel #expansionPanel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Create Item
                </mat-panel-title>
                <mat-panel-description>
                    Type the title and description
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput
                    formControlName="title">
                <mat-error>
                    <app-form-errors [control]="formGroup.get('title')"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <br>

            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput
                    formControlName="description">
                <mat-error>
                    <app-form-errors [control]="formGroup.get('description')"></app-form-errors>
                </mat-error>
            </mat-form-field>

            <mat-action-row>
                <button mat-button
                    type="button"
                    (click)="reset()">Cancel</button>
                <button mat-raised-button
                    type="submit"
                    color="primary"
                    [disabled]="!formGroup.valid"
                    (click)="createItem()">Create</button>
            </mat-action-row>
        </mat-expansion-panel>
    </form>
    <br>
</ng-container>

<ng-container *ngIf="!isProcessing">
    <app-item *ngFor="let item of items"
        [item]="item"
        routerLink="/items/{{item.uId}}"></app-item>
</ng-container>

<mat-card *ngIf="!isProcessing && (!items || items?.length === 0)">
    No items exist
</mat-card>

<mat-card *ngIf="isProcessing">
    <mat-spinner></mat-spinner>
</mat-card>