<mat-card [hidden]="isProcessing"
  *ngIf="verifyResult !== null">
  <mat-card-content>
    <div *ngIf="verifyResult">
      <app-icon-done></app-icon-done>
      <span>Email verification successful</span>
    </div>
    <div *ngIf="!verifyResult">
      <app-icon-error-outline></app-icon-error-outline>
      <span>Email verification error</span>
    </div>

    <div *ngIf="formErrorsService.globalErrors?.verifyEmailCode?.required"
      class="mat-error">
      Reset code is required
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button
      type="button"
      routerLink="/">Home</button>
    <button mat-stroked-button
      type="button"
      routerLink="/profile">Profile</button>
  </mat-card-actions>
</mat-card>

<app-preloader *ngIf="isProcessing"></app-preloader>