<mat-card [hidden]="isProcessing"
  *ngIf="verifyResult !== null">
  <mat-card-content>
    <div *ngIf="verifyResult">
      <mat-icon>done</mat-icon>
      <span>Email verification successful</span>
    </div>
    <div *ngIf="!verifyResult">
      <mat-icon>error_outline</mat-icon>
      <span>Email verification error</span>
    </div>

    <div *ngIf="formErrorsService.formErrors?.code?.required"
      class="mat-error">
      Reset code is required
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
      type="button"
      routerLink="/">Home</button>
    <button mat-raised-button
      type="button"
      routerLink="/profile">Profile</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="isProcessing">
  <mat-spinner></mat-spinner>
</mat-card>