<h2 mat-dialog-title>Share</h2>
<mat-dialog-content>
    <a [href]="url"
        (click)="copy()">{{url}}</a>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button
        (click)="copy()"
        type="button">COPY</button>
    <button mat-raised-button
        type="button"
        mat-dialog-close>Cancel</button>
    <span class="flex-spacer"></span>
    <button mat-icon-button
        *ngIf="shareService.hasWebShareApi()"
        (click)="webShare()"
        type="button"
        matTooltip="Share"
        aria-label="Share">
        <app-icon-share></app-icon-share>
    </button>
</mat-dialog-actions>