<mat-dialog-content>
    <button mat-button
        [matDialogClose]="true"
        style="float: right;">
      <mat-icon>close</mat-icon>
    </button>

    <h2 matDialogTitle
        style="float: left;">Share</h2>

    <div style="clear: both;"></div>

    <a [href]="link"
        (click)="onLinkClick()"
        ngxClipboard
        [cbContent]="link"
        (cbOnSuccess)="openSnackBar()">{{link}}</a>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button
        ngxClipboard
        [cbContent]="link"
        (cbOnSuccess)="openSnackBar()">COPY</button>
</mat-dialog-actions>