<mat-card *ngIf="!isProcessing && item">
    <mat-card-header routerLink="/user/{{item?.user?.id}}">
        <div mat-card-avatar
            [style.background-image]="'url(' + item.user.avatarUrl + ')'"
            class="user-avatar"></div>
        <mat-card-title>{{item.user.username}}</mat-card-title>
        <mat-card-subtitle>{{item.user.username}}</mat-card-subtitle>

        <span class="flex-spacer"></span>

        <button mat-icon-button
            type="button"
            [matMenuTriggerFor]="menu"
            #contextMenuTrigger="matMenuTrigger"
            (click)="openContextMenu($event)"
            matTooltip="Menu"
            aria-label="Menu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-card-header>
    <!-- <img mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="{{item.user.username}} avatar"> -->
    <mat-card-content>
        <h3>{{item.title}}</h3>
        <p>{{item.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button
            routerLink="/home/{{item.uId}}"
            type="button">
            <mat-icon>mode_comment</mat-icon>
            Comment
        </button>
        <button mat-button
            (click)="openShareDialog()"
            type="button">
            <mat-icon>share</mat-icon>
            Share
        </button>
    </mat-card-actions>
</mat-card>

<mat-card *ngIf="isProcessing && !item">
    <mat-spinner></mat-spinner>
</mat-card>

<mat-menu #menu="matMenu">
    <ng-template matMenuContent>
        <ng-container *ngTemplateOutlet="contextMenu; context: {$implicit: {}}"></ng-container>
    </ng-template>
</mat-menu>

<ng-template #bottomSheetContextMenu>
    <ng-container *ngTemplateOutlet="contextMenu; context: {$implicit: {}}"></ng-container>
</ng-template>

<!-- Context menu links -->
<ng-template #contextMenu
    let-data>
    <mat-nav-list (click)="bottomSheet.dismiss()">

        <mat-list-item>
            <mat-icon mat-list-icon>star</mat-icon>
            <span mat-line>Save</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>edit</mat-icon>
            <span mat-line>Edit</span>
        </mat-list-item>
        <mat-list-item (click)="deleteItem(item.uId)">
            <mat-icon mat-list-icon
                color="warn">delete</mat-icon>
            <span mat-line>Delete</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>report</mat-icon>
            <span mat-line>Report</span>
        </mat-list-item>

    </mat-nav-list>
</ng-template>