mat-card-header {
	padding-top: -24px;
	padding-left: -24px;
	padding-right: -24px;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	.user-avatar {
		background-size: cover;
	}
}

mat-card-content {
	// h3 {
	// 	overflow: hidden;
	// 	max-height: 46px;
	// }

	// p {
	// 	overflow: hidden;
	// 	max-height: 96px;
	// }
}

mat-card-actions {
	display: flex;
	justify-content: space-around;
}