<div class="heading">
  <h2 mat-dialog-title>Time</h2>
  <span class="flex-spacer"></span>
  <button mat-stroked-button
    (click)="toggle24Hour()"
    type="button">
    {{is24Hour ? '12 Hour' : '24 Hour'}}
  </button>
</div>

<mat-dialog-content>

  <div class="container">
    <div class="time-digit-container">
      <button mat-icon-button
        (click)="toggleHours(true)"
        type="button"
        matTooltip="Increase hours"
        aria-label="Increase hours">
        <app-icon-keyboard-arrow-up color="primary"></app-icon-keyboard-arrow-up>
      </button>
      <input matInput
        [formControl]="hoursControl"
        [class.single-digit-input]="hoursControl.value < 10"
        [class.double-digit-input]="hoursControl.value >= 10"
        type="number"
        min="1"
        max="12">
      <button mat-icon-button
        (click)="toggleHours(false)"
        type="button"
        matTooltip="Decrease hours"
        aria-label="Decrease hours">
        <app-icon-keyboard-arrow-down color="primary"></app-icon-keyboard-arrow-down>
      </button>
    </div>

    <div>:</div>

    <div class="time-digit-container">
      <button mat-icon-button
        (click)="toggleMinutes(true)"
        type="button"
        matTooltip="Increase hours"
        aria-label="Increase hours">
        <app-icon-keyboard-arrow-up color="primary"></app-icon-keyboard-arrow-up>
      </button>
      <input matInput
        [formControl]="minutesControl"
        [class.single-digit-input]="minutesControl.value.length < 2"
        [class.double-digit-input]="minutesControl.value.length >= 2"
        type="text">
      <button mat-icon-button
        (click)="toggleMinutes(false)"
        type="button"
        matTooltip="Decrease hours"
        aria-label="Increment hours">
        <app-icon-keyboard-arrow-down color="primary"></app-icon-keyboard-arrow-down>
      </button>
    </div>

    <div *ngIf="!is24Hour">
      <button mat-stroked-button
        [color]="isAM ? 'primary' : undefined"
        (click)="isAM = true"
        type="button"
        matTooltip="AM"
        aria-label="AM">
        AM
        <app-icon-brightness-2></app-icon-brightness-2>
      </button>
      <br>
      <br>
      <button mat-stroked-button
        [color]="!isAM ? 'primary' : undefined"
        (click)="isAM = false"
        type="button"
        matTooltip="PM"
        aria-label="PM">
        PM
        <app-icon-brightness-5></app-icon-brightness-5>
      </button>
    </div>
  </div>

  <p *ngIf="!editTimeZone">
    Your time zone is {{userTimeZone}}
    <button mat-stroked-button
      *ngIf="!editTimeZone"
      (click)="editTimeZone = true"
      type="button">
      Edit
    </button>
  </p>
  <p>
    Members will see the event in their local time zone.
  </p>

  <mat-form-field appearance="fill"
    *ngIf="editTimeZone"
    class="time-zone-input">
    <mat-label>Time Zone</mat-label>
    <input type="text"
      matInput
      [formControl]="timeZone"
      [matAutocomplete]="autoGroup">
    <mat-autocomplete #autoGroup="matAutocomplete"
      [displayWith]="autocompleteDisplayFn">
      <mat-optgroup *ngFor="let group of timeZoneGroups | async; trackBy: trackByFn"
        [label]="group.name">
        <mat-option *ngFor="let zone of group.zones; trackBy: trackByFn"
          [value]="zone.zone">
          <div class="zone-option-container">
            <span>{{zone.name}}</span>
            <span class="flex-spacer"></span>
            <span class="time-offset">{{zone.zone}}</span>
          </div>
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button
    (click)="onSubmit()"
    color="primary"
    type="button">Ok</button>
  <button mat-stroked-button
    type="button"
    mat-dialog-close>Cancel</button>
</mat-dialog-actions>