.heading {
	display: flex;
	align-items: baseline;
}

.container {
	display: flex;
	align-items: center;

	.time-digit-container {
		display: flex;
		flex-direction: column;
		align-items: center;

		.single-digit-input {
			width: 1ch;
		}

		.double-digit-input {
			width: 2ch;
		}
	}
}

.time-zone-input {
	width: 100%;

	.zone-option-container {
		display: flex;

		.time-offset {
			opacity: 60%;
		}
	}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}