<mat-card>
    <mat-card-subtitle>Everything on this demo site is live/working condition. Creating a profile, sending emails,
        donating
        money, uploading profile pictures and more.</mat-card-subtitle>
</mat-card>

<app-github-readme></app-github-readme>

<app-infinite-scroll (scrolled)="onScroll()"
    [isProcessing]="isProcessing">

    <app-item *ngFor="let item of items; trackBy: trackByFn"
        [item]="item"></app-item>

</app-infinite-scroll>

<mat-card *ngIf="!isProcessing && (!items || items?.length === 0) && networkStatus.isOnline">
    No items exist
</mat-card>

<app-network-status #networkStatus></app-network-status>