<mat-card *ngIf="!isProcessing">
    <mat-card-subtitle>Everything on this demo site is live/working condition. Creating a profile, sending emails, donating money, uploading profile pictures and more.</mat-card-subtitle>
</mat-card>

<mat-card *ngIf="!isProcessing">
    <mat-card-content [innerHTML]="readmeText"
        class="github-readme-container"></mat-card-content>
</mat-card>

<mat-card *ngIf="isProcessing">
    <mat-card-content>
        <mat-spinner class="preloader"></mat-spinner>
    </mat-card-content>
</mat-card>