<div *ngIf="tagsToFilter?.length > 0"
    class="filter">
    <mat-chip-list>
        <mat-chip color="accent"
            selected="true">
            <mat-chip-avatar>
                <app-icon-filter-list></app-icon-filter-list>
            </mat-chip-avatar>
            Filter
        </mat-chip>

        <mat-chip *ngFor="let tag of tagsToFilter; let i = index; trackBy: trackByFn"
            (removed)="removeFilter(i)">
            {{tag}}
            <app-icon-cancel matChipRemove
                [inline]="true"></app-icon-cancel>
        </mat-chip>
    </mat-chip-list>
    <br>
</div>