<button type="button"
  mat-icon-button
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  (click)="isOpen = !isOpen"
  matTooltip="Emoji">
  <mat-icon>tag_faces</mat-icon>
</button>

<ng-template cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  (backdropClick)="isOpen = false">

  <mat-card style="padding: 0;">
    <mat-tab-group (selectedTabChange)="onTabSelectChange($event)"
      mat-stretch-tabs>
      <mat-tab *ngFor="let category of emojiCategories">
        <ng-template mat-tab-label>
          <mat-icon>{{category.tabLabelIcon}}</mat-icon>
        </ng-template>
        <ng-template matTabContent>
          <div class="emoji-container"
            [innerHTML]="category.tabHTMLContent"></div>
          <div style="clear: both;"></div>
          powered by EmojiOne
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

</ng-template>