mat-card {
	padding: 0;

	mat-tab-group {
		width: 272px;
		height: 272px;

		.emoji-container {
			display: grid;
			grid-template-columns: repeat(auto-fill, 36px);

			::ng-deep .emojione {
				cursor: pointer;
				border: 1px solid transparent;

				&:hover {
					border-color: lightgray;
					border-radius: 4px;
				}
			}
		}

		::ng-deep .mat-tab-label {
			min-width: 34px;
			padding: 0;
		}
	}
}