mat-card {
	padding: 0;

	mat-tab-group {
		width: 290px;
		height: 290px;

		.emojione {
			cursor: pointer;
			border: 1px solid transparent;

			&:hover {
				border-color: lightgray;
				border-radius: 4px;
			}
		}

		::ng-deep .mat-tab-label {
			min-width: 34px;
			padding: 0;
		}
	}
}