<button type="button"
  mat-icon-button
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  (click)="openPanel()"
  matTooltip="Emoji"
  aria-label="Emoji">
  <mat-icon>tag_faces</mat-icon>
</button>

<ng-template cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isPanelForWebOpen"
  (backdropClick)="isPanelForWebOpen = false">

  <ng-container *ngTemplateOutlet="emoji; context: {$implicit: {}}"></ng-container>

</ng-template>

<ng-template #bottomSheet>
  <ng-container *ngTemplateOutlet="emoji; context: {$implicit: {}}"></ng-container>
</ng-template>

<!-- Emoji content -->
<ng-template #emoji
  let-data>

  <mat-card>
    <mat-tab-group (selectedTabChange)="onTabSelectChange($event)"
      mat-stretch-tabs>
      <mat-tab *ngFor="let category of emojiCategories">
        <ng-template mat-tab-label>
          <mat-icon>{{category.tabLabelIcon}}</mat-icon>
        </ng-template>
        <ng-template matTabContent>
          <span *ngFor="let emoji of newEmojiList"
            class="emojione emojione-64-{{emoji.category}} _{{emoji.key}}"></span>
          powered by EmojiOne
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

</ng-template>