<ng-container *ngIf="!!control?.errors?.email; else required">
    Invalid email address
</ng-container>

<ng-template #required>
    <ng-container *ngIf="!!control?.errors?.required; else minLength">
        Required
    </ng-container>
</ng-template>

<ng-template #minLength>
    <ng-container *ngIf="!!control?.errors?.minlength; else typeAssert">
        <!-- TODO: remove Non-null assertion operator without breaking angularCompilerOptions=fullTemplateTypeCheck -->
        {{control.errors!['minlength'].requiredLength}} characters required but
        {{control.errors!['minlength'].actualLength}}
        found
    </ng-container>
</ng-template>

<ng-template #typeAssert>
    <ng-container *ngIf="!!control?.errors?.typeAssert; else password">
        Type error
    </ng-container>
</ng-template>

<ng-template #password>
    <ng-container *ngIf="!!control?.errors?.passwordCharacters; else custom">
        {{control.errors | passwordCharacterMessageBuilder}}
    </ng-container>
</ng-template>

<ng-template #custom>
    <ng-content></ng-content>
</ng-template>