<ng-container *ngIf="control?.hasError('email'); else elseif1">
    Invalid email address
</ng-container>

<ng-template #elseif1>
    <ng-container *ngIf="control?.hasError('required'); else elseif2">
        Required
    </ng-container>
</ng-template>

<ng-template #elseif2>
    <ng-container *ngIf="control?.hasError('minlength'); else elseif3">
        {{control.errors['minlength'].requiredLength}} characters required but
        {{control.errors['minlength'].actualLength}}
        found
    </ng-container>
</ng-template>

<ng-template #elseif3>
    <ng-container *ngIf="control?.hasError('typeAssert'); else else1">
        Type error
    </ng-container>
</ng-template>

<ng-template #else1>
    <ng-content></ng-content>
</ng-template>