<!-- Main nav -->
<header *ngIf="headerTypes.Primary == activeHeader">

  <mat-toolbar color="primary">
    <!-- Left -->
    <a mat-button
      routerLink="/">
      <img class="logo"
        src="assets/logo-white.svg"
        alt="logo"
        width="55px">
    </a>

    <ng-container *ngIf="bpService.isWeb">
      <ng-container *ngTemplateOutlet="navLinks"></ng-container>
    </ng-container>

    <span class="flex-spacer"></span>

    <!-- Right -->
    <a mat-button
      (click)="openPaymentDialog()"
      [class.mat-icon-button]="!bpService.isWeb"
      matTooltip="Donate"
      aria-label="Donate">
      <mat-icon>credit_card</mat-icon>
      <span *ngIf="bpService.isWeb">&nbsp;Donate</span>
    </a>

    <a mat-button
      href="https://github.com/CharlBest/nean-stack-starter"
      target="_blank"
      rel="noopener"
      [class.mat-icon-button]="!bpService.isWeb"
      matTooltip="GitHub"
      aria-label="GitHub">
      <img src="assets/github-logo-white.svg"
        alt="GitHub">
      <span *ngIf="bpService.isWeb">&nbsp;GitHub</span>
    </a>

    <app-notifications></app-notifications>

    <button mat-icon-button
      type="button"
      [matMenuTriggerFor]="menu"
      #contextMenuTrigger="matMenuTrigger"
      (click)="openContextMenu()"
      [appTutorial]="tutorialTypeEnum.ContextMenu"
      matTooltip="Menu"
      aria-label="Menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-toolbar *ngIf="!bpService.isWeb"
    color="primary"
    class="mobile-toolbar">
    <ng-container *ngTemplateOutlet="navLinks"></ng-container>
  </mat-toolbar>
</header>

<!-- Back nav -->
<header *ngIf="headerTypes.Back == activeHeader">
  <mat-toolbar color="primary">
    <div (click)="back()">
      <button mat-icon-button
        type="button"
        matTooltip="Back"
        aria-label="Back">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <a mat-button>
        {{headerBackTitle}}
      </a>
    </div>
  </mat-toolbar>
</header>

<!-- Context menu -->
<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <ng-container *ngTemplateOutlet="contextMenu; context: {$implicit: {}}"></ng-container>
  </ng-template>
</mat-menu>

<ng-template #bottomSheetContextMenu>
  <ng-container *ngTemplateOutlet="contextMenu; context: {$implicit: {}}"></ng-container>
</ng-template>

<!-- Nav links -->
<ng-template #navLinks>
  <a mat-button
    routerLink="/">
    <mat-icon *ngIf="bpService.isWeb">home</mat-icon>
    <span>&nbsp;Home</span>
  </a>

  <a mat-button
    *ngIf="!loggedInUserId"
    routerLink="/login">
    <mat-icon *ngIf="bpService.isWeb">lock</mat-icon>
    <span>&nbsp;Login</span>
  </a>

  <a mat-button
    *ngIf="loggedInUserId"
    routerLink="/profile">
    <mat-icon *ngIf="bpService.isWeb">account_circle</mat-icon>
    <span>&nbsp;Profile</span>
  </a>
</ng-template>

<!-- Context menu links -->
<ng-template #contextMenu
  let-data>
  <mat-nav-list (click)="bottomSheet.dismiss()">

    <mat-list-item routerLink="/settings">
      <span mat-line>Settings</span>
      <mat-icon mat-list-icon>settings</mat-icon>
    </mat-list-item>
    <mat-list-item routerLink="/feedback">
      <mat-icon mat-list-icon>feedback</mat-icon>
      <span mat-line>Feedback</span>
    </mat-list-item>
    <mat-list-item routerLink="/newsletter">
      <mat-icon mat-list-icon>mail</mat-icon>
      <span mat-line>Newsletter</span>
    </mat-list-item>
    <mat-list-item routerLink="/legal/help">
      <mat-icon mat-list-icon>help</mat-icon>
      <span mat-line>Help</span>
    </mat-list-item>
    <mat-list-item (click)="takeTour()">
      <mat-icon mat-list-icon>live_help</mat-icon>
      <span mat-line>Take tour</span>
    </mat-list-item>
    <mat-list-item *ngIf="loggedInUserId"
      (click)="logout()">
      <mat-icon mat-list-icon>exit_to_app</mat-icon>
      <span mat-line>Logout</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item (click)="themeService.toggleTheme()">
      <mat-icon mat-list-icon
        *ngIf="!themeService.isDarkTheme">brightness_2</mat-icon>
      <span mat-line
        *ngIf="!themeService.isDarkTheme">Night mode</span>

      <mat-icon mat-list-icon
        *ngIf="themeService.isDarkTheme">brightness_5</mat-icon>
      <span mat-line
        *ngIf="themeService.isDarkTheme">Day mode</span>
    </mat-list-item>

  </mat-nav-list>
</ng-template>