<mat-card [hidden]="isProcessing || isDone">
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Emails</mat-label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let email of emails"
          (removed)="remove(email)">
          {{email}}
          <app-icon-cancel matChipRemove></app-icon-cancel>
        </mat-chip>

        <input #emailsInput
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
          [attr.autofocus]="bpService.isDesktop || null"
          type="email" />
      </mat-chip-list>
      <mat-error>Invalid email address</mat-error>
    </mat-form-field>

    <div *ngIf="formErrorsService.globalErrors?.inviteEmails?.required"
      class="mat-error">
      Email(s) are required
    </div>
    <div *ngIf="formErrorsService.globalErrors?.inviteEmails?.email"
      class="mat-error">
      There were an invalid email address
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button
      color="primary"
      type="submit"
      [disabled]="emailsInput?.value?.length < 5 && emails?.length === 0"
      (click)="onSubmit(emailsInput)">Send Invites</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="!isProcessing && isDone">
  <mat-card-content>
    Email list has been sent
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button
      routerLink="/"
      type="button">Home</button>
  </mat-card-actions>
</mat-card>

<app-preloader *ngIf="isProcessing"></app-preloader>