<ng-container *translate="let t">

    <button mat-stroked-button
        type="button"
        (click)="manualWebSocketBroadcast()"
        matTooltip="Web Socket Broadcast to other open sessions">
        <app-icon-notifications-active></app-icon-notifications-active>
        &nbsp;&nbsp;{{t.triggerBroadcast}}
    </button>
    <br>
    <br>

    <mat-card>
        <mat-card-content>
            <ng-container *ngIf="notificationService.messages.length > 0">
                <mat-list>
                    <mat-list-item
                        *ngFor="let message of notificationService.messages; let i = index; trackBy: trackByFn"
                        class="animation-slide-down">
                        <span mat-line>{{message.message}}</span>
                        <button mat-icon-button
                            (click)="removeMessage(i)"
                            type="button"
                            matTooltip="Mark As Read"
                            aria-label="Mark As Read">
                            <app-icon-close></app-icon-close>
                        </button>
                    </mat-list-item>
                </mat-list>
            </ng-container>

            <ng-container *ngIf="notificationService.messages.length <= 0">
                <mat-list>
                    <mat-list-item>{{t.noMessages}}</mat-list-item>
                </mat-list>
            </ng-container>
        </mat-card-content>
    </mat-card>

</ng-container>