<button mat-raised-button
    type="button"
    (click)="manualWebSocketBroadcast()"
    matTooltip="Web Socket Broadcast to other open sessions">
    <mat-icon>notifications_active</mat-icon>
    &nbsp;&nbsp;Trigger Broadcast
</button>
<br>
<br>

<mat-card>
    <mat-card-content>
        <ng-container *ngIf="notificationService.messages.length > 0">
            <mat-list>
                <mat-list-item *ngFor="let message of notificationService.messages; let i = index">
                    <span mat-line>{{message}}</span>
                    <button mat-icon-button
                        type="button"
                        (click)="removeMessage(i)"
                        matTooltip="Mark As Read"
                        aria-label="Mark As Read">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
        </ng-container>

        <ng-container *ngIf="notificationService.messages.length <= 0">
            <mat-list>
                <mat-list-item>No Messages</mat-list-item>
            </mat-list>
        </ng-container>
    </mat-card-content>
</mat-card>