<form [formGroup]="form">
    <md-form-field style="width: 100%;">
        <input mdInput
            placeholder="search"
            formControlName="term">
    </md-form-field>
    <div *ngIf="formErrors?.search"
        class="validation-message">{{ formErrors.search }}</div>
</form>

<div *ngIf="showNothingFoundMessage">
    <md-card>
        <md-card-content>
            <md-icon>do_not_disturb</md-icon>
            <span>Nothing found</span>
        </md-card-content>
    </md-card>
    <br>
</div>

<h4 *ngIf="searchResults?.length > 0">Search results</h4>

<md-card *ngIf="isProcessing">
    <md-card-content>
        <md-spinner class="preloader"></md-spinner>
    </md-card-content>
</md-card>

<md-card *ngFor="let result of searchResults"
    routerLink="/result/{{result.id}}"
    class="card-item">
    <md-card-header>
        <app-media-type mdCardAvatar
            [url]="result?.media ? result?.media[0] : ''"
            [thumbnail]="true"></app-media-type>
        <md-card-title>{{result.title}}</md-card-title>
        <md-card-subtitle>{{result.likes}} likes</md-card-subtitle>
    </md-card-header>
</md-card>