<form [formGroup]="form">
    <mat-form-field>
        <mat-label>search</mat-label>
        <input matInput
            formControlName="term">
    </mat-form-field>
    <div *ngIf="formErrors?.search"
        class="validation-message">{{ formErrors.search }}</div>
</form>

<div *ngIf="showNothingFoundMessage">
    <mat-card>
        <mat-card-content>
            <mat-icon>do_not_disturb</mat-icon>
            <span>Nothing found</span>
        </mat-card-content>
    </mat-card>
    <br>
</div>

<h4 *ngIf="searchResults?.length > 0">Search results</h4>

<mat-card *ngIf="isProcessing">
    <mat-spinner></mat-spinner>
</mat-card>

<mat-card *ngFor="let result of searchResults"
    routerLink="/result/{{result.id}}"
    class="card-item">
    <mat-card-header>
        <app-media matCardAvatar
            [src]="result?.media ? result?.media[0] : ''"
            [thumbnail]="true"></app-media>
        <mat-card-title>{{result.title}}</mat-card-title>
        <mat-card-subtitle>{{result.likes}} likes</mat-card-subtitle>
    </mat-card-header>
</mat-card>