<mat-card>
    <mat-card-content>
        <table mat-table
            [dataSource]="dataSource">
            <ng-container matColumnDef="description">
                <td mat-cell
                    *matCellDef="let element">{{element.description}}</td>
            </ng-container>

            <ng-container matColumnDef="version">
                <td mat-cell
                    *matCellDef="let element">{{element.version}}</td>
            </ng-container>

            <tr mat-row
                *matRowDef="let row; columns: ['description', 'version'];"></tr>
        </table>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>
        <app-github [filePath]="'BEST_PRACTICES.md'"></app-github>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>
        <app-github [filePath]="'CHANGELOG.md'"></app-github>
    </mat-card-content>
</mat-card>