<mat-card>
    <mat-card-content>
        <table mat-table
            [dataSource]="dataSource">
            <ng-container matColumnDef="description">
                <td mat-cell
                    *matCellDef="let element">{{element.description}}</td>
            </ng-container>

            <ng-container matColumnDef="version">
                <td mat-cell
                    *matCellDef="let element">
                    <ng-container *ngIf="element.version">{{element.version}}</ng-container>
                    <app-preloader *ngIf="!element.version"></app-preloader>
                </td>
            </ng-container>

            <tr mat-row
                *matRowDef="let row; columns: ['description', 'version'];"></tr>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button
            routerLink="/call/create">Video Call</button>
    </mat-card-actions>
</mat-card>

<mat-card [hidden]="isProcessingBestPractices">
    <mat-card-content>
        <app-github [filePath]="'BEST_PRACTICES.md'"
            (doneLoading)="isProcessingBestPractices = false"></app-github>
    </mat-card-content>
</mat-card>

<mat-card [hidden]="isProcessingChangelog">
    <mat-card-content>
        <app-github [filePath]="'CHANGELOG.md'"
            (doneLoading)="isProcessingChangelog = false"></app-github>
    </mat-card-content>
</mat-card>

<app-preloader *ngIf="isProcessingBestPractices || isProcessingChangelog"></app-preloader>