<a mat-icon-button
  type="button"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  (click)="isOpen = !isOpen"
  matTooltip="Notifications">
  <mat-icon matBadge="{{messages?.length}}"
    matBadgeColor="warn"
    [matBadgeHidden]="messages?.length <= 0">notifications</mat-icon>
</a>

<ng-template #panel="cdkConnectedOverlay"
  cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  (backdropClick)="isOpen = false">

  <mat-card>
    <div class="header">
      <strong class="title">Notifications</strong>
      <button mat-icon-button
        (click)="isOpen = false"
        matTooltip="Exit Notifications">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <ng-container *ngIf="messages.length > 0">
      <mat-list>
        <mat-list-item *ngFor="let message of messages; let i = index">
          <span mat-line>{{message}}</span>
          <button mat-icon-button
            (click)="removeMessage(i)"
            matTooltip="Mark As Read">
            <mat-icon>close</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </ng-container>
    <ng-container *ngIf="messages.length <= 0">
      <mat-list>
        <mat-list-item>No Messages</mat-list-item>
      </mat-list>
    </ng-container>
  </mat-card>

</ng-template>