<mat-card>
    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Code</mat-label>
            <input matInput
                [(ngModel)]="code"
                (change)="updateCode()">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button
            (click)="share()">Invite</button>
        <button mat-stroked-button
            color="primary"
            (click)="start()">Start</button>
    </mat-card-actions>
</mat-card>