@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
$app-primary-palette: mat-palette($mat-deep-purple);
$app-accent-palette: mat-palette($mat-amber, A200, A100, A400);
$app-warn-palette: mat-palette($mat-red);

// Define an alternate dark theme.
$dark-primary-palette: mat-palette($mat-deep-purple);
$dark-accent-palette: mat-palette($mat-amber, A200, A100, A400);
$dark-warn-palette: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
// Light
$app-theme: mat-light-theme($app-primary-palette, $app-accent-palette, $app-warn-palette);
// Dark
$dark-theme: mat-dark-theme($dark-primary-palette, $dark-accent-palette, $dark-warn-palette);

// Set global variables for colors
// https://github.com/angular/components/blob/abc3d38c57146443c848d5ba26fd2fab8ca185d6/src/lib/core/theming/_palette.scss#L674
// Light
$app-primary-color: mat-color($app-primary-palette);
$app-accent-color: mat-color($app-accent-palette);
$app-warn-color: mat-color($app-warn-palette);
$app-background: map-get($app-theme, background);
$app-background-color: mat-color($app-background, card);
$app-foreground: map-get($app-theme, foreground);
$app-foreground-color: mat-color($app-foreground, text);
// Dark
$dark-primary-color: mat-color($dark-primary-palette);
$dark-accent-color: mat-color($dark-accent-palette);
$dark-warn-color: mat-color($dark-warn-palette);
$dark-background: map-get($dark-theme, background);
$dark-background-color: mat-color($dark-background, card);
$dark-foreground: map-get($dark-theme, foreground);
$dark-foreground-color: mat-color($dark-foreground, text);