/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'styles/app-theme-definition.scss';
@import 'styles/fonts.scss';
@import 'styles/emoji.scss';
@import 'styles/icons.scss';
@import 'styles/animations.scss';
@import 'styles/skeleton-screen.scss';
@import 'styles/material-overrides.scss';

// Global color variables
:root {
	--primary-color: #{$app-primary-color};
	--accent-color: #{$app-accent-color};
	--warn-color: #{$app-warn-color};
	--background-color: #{$app-background-color};
	--foreground-color: #{$app-foreground-color};
}

// Global color variables for dark theme
.dark-theme {
	--primary-color: #{$dark-primary-color};
	--accent-color: #{$dark-accent-color};
	--warn-color: #{$dark-warn-color};
	--background-color: #{$dark-background-color};
	--foreground-color: #{$dark-foreground-color};
}

html {
	height: 100%;
}

// Body rule
body {
	font-family: 'Open Sans', 'Arial', 'sans-serif';
	margin: 0;
	height: 100%;
	// https://developers.google.com/web/updates/2017/11/overscroll-behavior
	overscroll-behavior-y: none;

	// App root rules
	app-root {
		display: flex;
		flex-direction: column;
		height: 100%;

		// Validation
		.validation-message {
			color: var(--warn-color);
		}

		app-show-errors ul {
			list-style: none;
			padding-left: 0;
			margin: 0;
		}

		// Center
		.center {
			margin: 0 auto !important;
			display: block !important;
		}

		// Vertical radio button layout
		.radio-group-vertical {
			display: inline-flex;
			flex-direction: column;

			.radio-button-vertical {
				margin: 5px;
			}
		}

		// Placeholder text via 'data-text' attribute
		[contentEditable=true]:empty:not(:focus):before {
			content: attr(data-text);
			color: gray;
		}

		// Remove Chrome yellow autofill background color
		input:-webkit-autofill,
		input:-webkit-autofill:hover,
		input:-webkit-autofill:focus,
		input:-webkit-autofill:active {
			transition: all 5000s ease-in-out 0s;
		}
	}

	.full-width {
		width: 100%;
	}

	.cursor-pointer {
		cursor: pointer;
	}

	.flex-spacer {
		flex: 1 1 auto;
	}

	a {
		color: inherit;
	}
}


// Selection highlight color override
::selection {
	background-color: var(--primary-color);
	color: #fff;
}

// Stripe element override if dark theme
.dark-theme .stripe-element {
	background-color: rgb(255 255 255 / 10%) !important;
}
