<mat-card>
    <mat-card-content>
        <mat-nav-list>
            <mat-list-item routerLink="/login"
                *ngIf="!loggedInUserId">
                <mat-icon mat-list-icon>lock</mat-icon>
                <span mat-line>Login</span>
            </mat-list-item>
            <ng-container *ngIf="loggedInUserId">
                <mat-list-item routerLink="/user/{{loggedInUserId}}">
                    <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
                    <span mat-line>Items</span>
                </mat-list-item>
                <mat-list-item routerLink="/item/saved">
                    <mat-icon mat-list-icon>star</mat-icon>
                    <span mat-line>Saved</span>
                </mat-list-item>
                <mat-list-item routerLink="/profile">
                    <mat-icon mat-list-icon>account_circle</mat-icon>
                    <span mat-line>Profile</span>
                </mat-list-item>
                <mat-list-item routerLink="/profile/notifications">
                    <mat-icon mat-list-icon>notifications</mat-icon>
                    <span mat-line>Notification Preferences</span>
                </mat-list-item>
            </ng-container>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/payment">
                <mat-icon mat-list-icon>credit_card</mat-icon>
                <span mat-line>Donate</span>
            </mat-list-item>
            <mat-list-item routerLink="/feedback">
                <mat-icon mat-list-icon>feedback</mat-icon>
                <span mat-line>Feedback</span>
            </mat-list-item>
            <mat-list-item routerLink="/invite">
                <mat-icon mat-list-icon>group_add</mat-icon>
                <span mat-line>Invite Friends</span>
            </mat-list-item>
            <mat-list-item routerLink="/newsletter">
                <mat-icon mat-list-icon>mail</mat-icon>
                <span mat-line>Newsletter</span>
            </mat-list-item>
            <mat-list-item (click)="takeTour()">
                <mat-icon mat-list-icon>live_help</mat-icon>
                <span mat-line>Take Tour</span>
            </mat-list-item>
            <mat-list-item routerLink="/business/help">
                <mat-icon mat-list-icon>help</mat-icon>
                <span mat-line>Help</span>
            </mat-list-item>
            <mat-list-item routerLink="/business/dev">
                <mat-icon mat-list-icon>code</mat-icon>
                <span mat-line>Developer</span>
            </mat-list-item>
            <mat-list-item *ngIf="loggedInUserId"
                (click)="logout()">
                <mat-icon mat-list-icon>exit_to_app</mat-icon>
                <span mat-line>Logout</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="themeService.toggleTheme()">
                <mat-icon mat-list-icon
                    *ngIf="!themeService.isDarkTheme">brightness_2</mat-icon>
                <span mat-line
                    *ngIf="!themeService.isDarkTheme">Night mode</span>

                <mat-icon mat-list-icon
                    *ngIf="themeService.isDarkTheme">brightness_5</mat-icon>
                <span mat-line
                    *ngIf="themeService.isDarkTheme">Day mode</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-card-content>
</mat-card>