.tutorial-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.tutorial-box {
    position: absolute;
    z-index: 12;
    width: 100%;
    bottom: 50px;
    text-align: center;

    span {
        color: white;
    }
}