.tutorial-overlay {
	background: rgb(0 0 0 / 50%);
	background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 80%));
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
}

.tutorial-overlay-transparent {
	@extend .tutorial-overlay;
	background: none;
	z-index: 12;
}

.tutorial-box {
	position: fixed;
	z-index: 13;
	width: 100%;
	bottom: 20px;
	text-align: center;
	color: white;

	.tutorial-container {
		max-width: 400px;
		padding: 20px;
		border-radius: 20px;
		background: rgb(0 0 0 / 40%);
		margin: 0 auto;

		.previous-button {
			margin-right: 20px;
		}
	}
}