<div [hidden]="isProcessing"
    class="container">
    <span routerLink="/user/{{comment?.user?.id}}">
        <div *ngIf="comment.user?.avatarUrl && comment.user?.avatarUrl !== ''; else defaultAvatar"
            mat-card-avatar
            [style.background-image]="'url(' + comment?.user?.avatarUrl + ')'"></div>
        <ng-template #defaultAvatar>
            <span mat-card-avatar
                class="default-avatar">
                <app-icon-account-circle></app-icon-account-circle>
            </span>
        </ng-template>
    </span>

    <div class="content">
        <div>
            <div class="username"
                routerLink="/user/{{comment?.user?.id}}">
                {{comment?.user?.username}}
                <app-icon-done [inline]="true"
                    *ngIf="itemUserId === comment?.user?.id"></app-icon-done>
                &nbsp;&middot;&nbsp;
                <span class="date">{{comment.dateCreated | date:'HH:mm MMM d, y'}}</span>
            </div>
        </div>

        <span>{{comment.description}}</span>
    </div>

    <div>
        <app-context-menu #contextMenu>
            <mat-nav-list>
                <mat-list-item (click)="copyLink()">
                    <app-icon-link mat-list-icon></app-icon-link>
                    <span mat-line>Copy link to Comment</span>
                </mat-list-item>
                <mat-list-item (click)="openShareDialog()">
                    <app-icon-share mat-list-icon></app-icon-share>
                    <span mat-line>Share</span>
                </mat-list-item>
                <mat-list-item *ngIf="comment?.user?.id === loggedInUserId"
                    (click)="goToEdit()">
                    <app-icon-edit mat-list-icon></app-icon-edit>
                    <span mat-line>Edit</span>
                </mat-list-item>
                <mat-list-item (click)="deleteComment()"
                    *ngIf="comment?.user?.id === loggedInUserId">
                    <app-icon-delete mat-list-icon
                        color="warn"></app-icon-delete>
                    <span mat-line>Delete</span>
                </mat-list-item>
                <mat-list-item (click)="reportComment()">
                    <app-icon-report mat-list-icon></app-icon-report>
                    <span mat-line>Report</span>
                </mat-list-item>
            </mat-nav-list>
        </app-context-menu>
    </div>
</div>

<!-- <button mat-button
        [matMenuTriggerFor]="menu"
        xPosition="after"
        #contextMenuTrigger="matMenuTrigger"
        (click)="openContextMenu($event)"
        matTooltip="Menu"
        aria-label="Menu">
        <app-icon-more-vert></app-icon-more-vert>
</button> -->

<mat-spinner *ngIf="isProcessing && !comment"></mat-spinner>