<mat-card [hidden]="isProcessing">
  <mat-card-title>Bio</mat-card-title>
  <mat-card-content>

    <app-html-editor #htmlEditor
      [htmlContent]="content"
      [containsEmoji]="true"></app-html-editor>

    <app-emoji-panel (inserted)="emojiInserted($event)"></app-emoji-panel>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
      type="submit"
      (click)="onSubmit()">Update bio</button>
  </mat-card-actions>
</mat-card>

<mat-spinner *ngIf="isProcessing"></mat-spinner>