<mat-card *ngIf="!isProcessing">
  <mat-card-title>Bio</mat-card-title>
  <mat-card-content>

    <app-html-editor [htmlContent]="content"
      [(editorDomElement)]="inputElement"></app-html-editor>

    <div *ngIf="serverErrors?.content"
      class="validation-message">{{ serverErrors.content.message }}</div>

    <!-- <span [appEmojiPanel]="emojiPanel"
      [placeholder]="'Add a reply...'"
      #input></span> -->
    <app-emoji-panel #emojiPanel></app-emoji-panel>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
      type="submit"
      (click)="onSubmit()">Update bio</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="isProcessing">
  <mat-card-content>
    <mat-spinner class="preloader"></mat-spinner>
  </mat-card-content>
</mat-card>